# Introducción a bases de datos relacionales y SQL para científicos sociales
> "Conceptos fundamentales para entender qué es SQL y por qué deberíamos usarlo"
- toc: true
- badges: true
- comments: true
- categories: [sql]
- permalink: /intro-sql-sociales/

> Elaborado por Juan Javier Santos Ochoa ([@jjsantoso](https://twitter.com/jjsantoso))

## Introducción

En ciencias sociales trabajamos mucho con datos para hacer investigación cuantitativa. Casi siempre, nuestros inicio en el manejo de datos se da en cursos de estadística, por lo que las funciones que necesitamos aprender son leer, procesar y reestructurar datos para luego visualizar variables y estimar modelos estadísticos. Como parte de nuestra práctica, normalmente guardamos la información en formatos de archivos como XLSX (Excel), CSV (comma separated values), TXT (texto plano), DTA (Stata), SAV (SPSS), Rdata (R) y trabajamos con Software de análisis de datos como Stata, R, SPSS, Python, SAS, entre otros. Además, solemos estructurar nuestra información de forma tal que toda quede en una única tabla. Llamemos a estas practicas como la **"forma usual de trabajar"**.

Esta forma usual de trabajar tiene ventajas para nosotros porque nos facilita concentrarnos en procesar y analizar datos, en lugar de preocuparnos por la administración de la información. La mayoría de las veces se trata de tareas que solo ejecutaremos unas pocas veces en nuestra computadora y en las que no es necesario que otras personas puedan acceder a nuestros datos. Además, suele ser información que no se actualiza de forma continua y de una escala relativamente pequeña. Sin embargo, cuando nos enfrentamos a alguna de las situaciones que acabdo de describir anteriormente, ya no es tan conveniente seguir este flujo de trabajo. Pese a que existen desde hace mucho otras formas de trabajar cuando el proceso de manejo de datos se vuelve más complejo, normalmente desconocemos por completo otras alternativas. Una de esas alternativas son las bases de datos relacionales.

A lo largo de esta sesión veremos cuáles son las situaciones en las que podemos considerar el uso de base de datos relacionales, cuáles son sus características y cómo podemos consultarlas. Empecemos primero viendo con un poco más de detalles las limitantes en la forma usual de trabajar .

## Limitantes de la forma usual de trabajar

* **Dificultad para leer y actualizar los datos**: Los archivos planos (csv, txt) o binarios (Excel, Rdata, dta, etc) son difíciles de leer y actualizar. Siempre que se leen se debe abrir el archivo completo, aunque solo se necesite trabajar con unas pocas observaciones. Además, para agregar nuevos registros se requiere primero cargar todos los datos en memoria y luego volverlos a escribir nuevamente al disco, lo que es un proceso computacionalmente muy costoso.

* **Imposibilidad para modificar por varios usuarios**: Estos archivos normalmente solo están disponibles de forma local (en nuestra computadora), por lo que solo pueden ser usados por un usuario a la vez. Una vez un usuario hace modificaciones, es difícil mantener a los demás usuarios con la información actualizada. Aún peor, si varios usuarios modifican los datos de forma individual, luego es muy difícil conciliar las diferentes versiones. Si bien existen alternativas en la nube (hojas de cálculo de Google, Excel online), estas están diseñadas para trabajar de forma interactiva, no programática.

* **No hay validación de datos**: no hay una forma fácil de validar o aplicar restricciones sobre los datos nuevos que se ingresan en la base de datos. Una validación puede ser, por ejemplo, si tengo una variable numérica, no puedo guardar ahí un dato que es de texto, u otro  ejemplo es verificar que un nuevo valor que voy a ingresar esté dentro de un catálogo de opciones predeterminadas.

* **Falta de autenticación y permisos**: no hay mecanismos para controlar qué usuarios pueden acceder a la información y qué facultades tienen para modificarla.

* **No asegura atomicidad de las transacciones** : La atomicidad se refiere a que al hacer un conjunto de operaciones en una base de datos, ante un fallo el resultado no puede quedar a medias, el proceso se hace completo o no se hace nada.

* **Los datos deben caber en memoria RAM**: la mayoría de software estadísticos deben leer los datos y guardarlo en la memoria RAM para poder trabajar con ellos, por lo que hay un límite sobre la cantidad de información que se puede analizar.

* **Redundancia**: cuando se intenta que toda la información de un proyecto esté en una sola tabla de datos, muchas veces es necesario repetir la información.

Todas estas limitaciones pueden ser abordadas usando sistemas de administración de bases de datos.

# Sistemas de administración de bases de datos.

Antes que nada, hay que aclarar algo. En ciencias sociales le llamamos base de datos a cualquier archivo que contenga datos, pero tecnicamente esto no es correcto. Los ingenieros de sistemas entienden algo más complejo cuando se habla de bases de datos. Hay cierta ambiguedad en el término, pero cuando hablamos de bases de datos normalmente hacemos referencia a los Sistemas de Administración de Bases de Datos (DBMS, por sus siglas en inglés) que son sitemas que simplifican la administración de los datos de una forma organizada y consistente. Otras veces el término base de datos puede hacer referencia a un conjunto de datos guardado en un DBMS. Aunque se suelen usar indistintamente, tratemos de dar una definción a cada concepto:

* **Base de datos**: es una colección estructurada de datos sobre **entidades** y sus **relaciones**. Modela objetos de la vida real -entidades y relaciones- y captura su estructura en formas que permiten que estas entidades y relaciones puedan ser consultadas para hacer análisis.

* **Sistema de administración de bases de datos (DBMS)**: es un software diseñado para guardar bases de datos de forma segura y manejarlas eficientemente, además de cumplir con otras tareas de mantenimiento y consulta de las entidades y relaciones que la base de datos representa. Hay muchos tipos de DBMS que tienen funciones especiales para diferentes casos de uso.

## Bases de datos relacionales

En una base de datos relacional tenemos **tablas** que representan distintas entidades y **relaciones** que indican relaciones entre los objetos guardados en las tablas.

* Una tabla es un arreglo en filas y columnas, donde cada fila representa una observación y cada columna es un atributo de las observaciones. Es como una hoja de excel. 
    * Las columnas, también conocidas como **campos**, tienen un nombre y un **tipo**, que indica el tipo de información que se puede guardar (número, texto, fecha, etc). Todos los datos de una columna deben ser del mismo tipo. 
    * Toda tabla debería tener una columna que es conocida como la **llave primaria** (*primary key* o PK) que debe tener un valor único dentro de la tabla y permite identificar a cada observación. Usualmente es un número entero.
* Las relaciones son vínculos entre un objeto de una tabla y uno o varios objetos en otras tablas. 
    * La relación entre tablas permite guardar estructuras de datos muy complejas de forma mucho más sencillas.
    * Hay varios tipos de relaciones: uno a uno, uno a muchos y muchos a muchos.
    * Cuando se crea una relación se genera un **llave externa** (*Foreign Key* o FK) en la tabla.

A la información que comprende las tablas, los campos de las tablas junto con el tipo de dato y las relaciones entre las tablas se le conoce como el **esquema** de la base de datos. Toda esta información se puede de comprender de forma mucho más fácil mediante un diagrama conocido como **diagrama Entidad-Relación**.

Es muy importante cuando se trabaja con una base de datos pensar en cada tabla como una **entidad**, esto es como si fuera el objeto independiente más sencillo con el que podemos trabajar, y luego crear las relaciones entre las entidades.

Como ejemplo de estos conceptos pensemos en una escuela donde se ofrece cursos a los alumnos, y estos cursos son dictados por profesores. Tenemos entonces tres entidades: *cursos*, *profesores* y *estudiantes*. Cada una de estas entidades es una tabla que tiene distintos atributos y además hay una relación clara entre ellas: todo curso tiene un profesor y uno o varios alumnos. El diagrama entidad-relación es el siguiente:
     
![](imagenes/intro_sql_1.png)

Las tablas con los datos se verían de la siguiente manera:

![](imagenes/intro_sql_2.png)

## Structured Query Language (SQL)

SQL (pronunciado como sicuel o ese-cu-ele) es un lenguaje para manejar bases de datos. Sirve para crear, modificar y eliminar bases de datos, tablas, campos, datos, así como también para consultar los elementos dentro de una base de datos. SQL es realmente un estándar, ya que cada DBMS tiene su propio lenguaje y funciones, sin embargo, casi todas las bases de datos relacionales soportan las características básicas de SQL, aunque con ligeras variaciones.



Este tutorial trataremos más adelante cómo hacer consultas de información con SQL. En otro se tratará la definición de bases de datos.

## SQL vs NoSQL

Los DBMS se suelen clasificar en dos grandes grupos: SQL y NoSQL. Cuando los datos con los que trabajamos son *estructurados* es decir, tienen un equema que puede ser facilmente representados en tablas con filas y columnas, entonces se usan DBMS relacionales conocidos como SQL. Entre los más populares están:
* SQLite
* MySQL
* PostgreSQL
* MariaDB
* Oracle Database.
* Google BigQuery

Por otro lado, existen otros DBMS conocidos como NoSQL (*Not only SQL*) que son adecuados cuando los datos son no estructurados, es decir no tienen una estructura definida y cada observación puede constar de distintos campos y de tipos de datos mucho más complejos. Normalmente se usan cuando se trata de bases de datos muy grandes o que representan datos especiales, como por ejemplo las redes. Estas bases de datos suelen tener sus propios lenguajes de consulta, diferentes a SQL. Entre las más populares están:
* MongoDB
* Neo4J
* Cassandra
* Redis

La decisión sobre qué tipo de base de datos es la mejor dependerá siempre del proyecto específico en el que se trabaje y las tareas que se requieran.
En este tutorial usaremos [SQLite](https://www.sqlite.org/index.html).

## Cuando usar una DBMS

Si hemos estudiado alguna carrera de ciencias sociales, probablemente nos costará trabajo empezar a crear y administrar nuestras propias bases de datos porque hay reglas y protocolos  para los que se requiere mucha práctica para aprender a ejecutar correctamente. El diseño y puesta en producción de una base de datos debe hacerlo alguien con experiencia.

Aún cuando puede ser cierto que nosotros nunca vayamos a crear una base de datos desde cero, es necesario que aprendamos los fundamentos de las bases de datos por varias razones.
1. El modelo relacional es una forma poderosa de organizar la información. 
2. Cada vez es más común el uso de SQL dentro de proyectos de ciencia de datos.
3. Si alguna vez tienes que proveer datos para un sistema de base de datos, podrás entender mejor cómo pasar la información al encargado de su administración.
4. Si entiendes sus ventajas podrás recomendarlo en los casos en que es conveniente su uso.

Sobre este último punto, deberíamos optar por usar un DBMS en cualquiera de las siguientes situaciones:
* Requerimos consultar o actualizar los datos de forma constante.
* Los datos deben ser consultados o editados por varios usuarios de forma remota.
* Tenemos información que está en muchos archivos pero que está relacionada, y que ademas debe cumplir con ciertas restricciones, como asegurar que los valores pertenezcan a un catálogo.
* Necesitamos analizar datos muy grandes que no caben en memoria RAM.
* Cuando creamos un producto basado en datos para producción, por ejemplo páginas web o aplicaciones de escritorio.
* Necesitamos autenticación de usuarios y/o diferentes permisos para administrar los datos.
* Cuando necesitamos garantizar atomicidad.

# SQLite
> La mayor parte del contenido de aquí en adelante fue tomado de: [Data Management with SQL for Social Scientists](https://datacarpentry.org/sql-socialsci/)

En este tutorial veremos una corta introducción a los comandos más comunes para consultar la información de una base de datos. Hacer consultas es una tarea relativamente sencilla que todos deberíamos aprender. 

Para esto usaremos SQlite, que es un DBMS sencillo, adecuado para aplicaciones locales que requieren tipos de datos básicos y pocas funciones avanzadas. No provee un sistema de autenticación y permisos y tampoco soporta escritura de varias conexiones al mismo tiempo, pero es fácil de iniciar y ayuda a mostrar las principales características del lenguaje de consulta. Aunque no es adecuado para aplicaciones empresariales, puede ser buena opción para hacer análisis de datos.

## Cliente

Los clientes son programas que permiten conectarse a bases de datos y efectuar operaciones sobre ellas a través de una interfaz de usuario.

Usaremos el cliente **DB Browser for SQLite** una aplicación ligera que puede ser descargada desde su página web: https://sqlitebrowser.org/dl/

Una vez instalado se puede buscar en los programas como DB Browser (SQLite).

![](imagenes/intro_sql_3.png)

## Abrir una base de datos

* Usaremos una base de datos sobre cultivos del proyecto [SAFI (Studying African Farmer-led Irrigation)](http://www.safi-research.org/). Los datos vienen en el archivo "SQL_SAFI.sqlite", que también puede ser descargado desde https://datacarpentry.org/sql-socialsci/data/SQL_SAFI.sqlite. Esta base de datos consta de 4 tablas que describen un conjunto de granjas (Farms), parcelas (Plots) y cultivos (Crops & crops_rice_old).
* Vamos al cliente y hacemos clic en el botón de "Open Database". Buscamos en nuestros archivos y seleccionamos ""SQL_SAFI.sqlite""
* Cuando se abre, en la pestaña "Database Structure" veremos lo siguiente:

![](imagenes/intro_sql_4.png)

* Tenemos 4 tablas: Crops, Farms, Plots y crops_rice_old.
* Si damos clic sobre las $>$ de cada tabla podremos ver los campos  que tiene cada una y su tipo:

![](imagenes/intro_sql_5.png)

* Al seleccionar la pestaña "Browse Data" se puede ver la tabla con los datos.

![](imagenes/intro_sql_6.png)

# Consultas SQL

* Para consultar la información usamos el lenguaje SQL. 
* Toda consulta SQL debe llevar al menos dos comandos: SELECT y FROM
    * con SELECT especificamos las columnas que queremos recuperar
    * con FROM especificamos la tabla que vamos a consultar
    
Un ejemplo de consulta es:
```sql
SELECT *
FROM Crops
```
    
* Los comandos de SQL normalmente se escriben en mayúsculas, aunque no es necesario, pero así se distingue mejor cuáles con los comandos de los nombres las variable o tablas. 

![](imagenes/intro_sql_7.png)

* Tampoco es necesario escribirlos en líneas separadas, pero se hace más legible así.
* Vamos a la pestaña "Execute SQL" de DB Browser y copiamos el siguiente código:
```sql
SELECT *
FROM Crops
```
* La instrucción se ejecuta con el botón ▶ del menú.

Obtenemos como resultado una tabla con todas las filas y columnas de la tabla Crops:

![](imagenes/intro_sql_8.png)

* El resultado de una consulta SQL siempre es una tabla.
* A continuación veremos los comandos más populares para consultar la información.
* Puedes seguir este tutorial usando DB Browser o también si tienes instalada la distribución de Python de [Anaconda](https://www.anaconda.com/products/individual), puedes instalar la extensión [ipython-sql](https://pypi.org/project/ipython-sql/) que permite ejecutar SQL dentro de un Jupyter Notebook.
* Si sigues en DB browser, debes copiar el código de cada celda sin la primera fila (%%sql)

In [1]:
# configuración de la conexión
# Esta instrucción solo funciona dentro de un Jupyter Notebook
# pip install ipython-sql
%load_ext sql
%sql sqlite:///SQL_SAFI.sqlite
%config SqlMagic.displaylimit=10

## SELECT

* Con SELECT especificamos los nombres de las columnas que queremos que nos retorne la consulta.
* Podemos especificar uno o varios nombres de columnas, separados por comas.
* El * quiere decir que retorne todas las columnas.

In [2]:
%%sql
SELECT id, Country, A06_province
FROM Farms

 * sqlite:///SQL_SAFI.sqlite
Done.

[(1, 'Moz', 'Manica'),
 (2, 'Moz', 'Manica'),
 (3, 'Moz', 'Manica'),
 (4, 'Moz', 'Manica'),
 (5, 'Moz', 'Manica'),
 (6, 'Moz', 'Manica'),
 (7, 'Moz', 'Manica'),
 (8, 'Moz', 'Manica'),
 (9, 'Moz', 'Manica'),
 (10, 'Moz', 'Manica'),
 (11, 'Moz', 'Manica'),
 (12, 'Moz', 'Manica'),
 (13, 'Moz', 'Manica'),
 (14, 'Moz', 'Manica'),
 (15, 'Moz', 'Manica'),
 (16, 'Moz', 'Manica'),
 (17, 'Moz', 'Manica'),
 (18, 'Moz', 'Manica'),
 (19, 'Moz', 'Manica'),
 (20, 'Moz', 'Manica'),
 (21, 'Moz', 'Manica'),
 (22, 'Moz', 'Manica'),
 (23, 'Moz', 'Manica'),
 (24, 'Moz', 'Manica'),
 (25, 'Moz', 'Manica'),
 (26, 'Moz', 'Manica'),
 (27, 'Moz', 'Manica'),
 (28, 'Moz', 'Manica'),
 (29, 'Moz', 'Manica'),
 (30, 'Moz', 'Manica'),
 (31, 'Moz', 'Manica'),
 (32, 'Moz', 'Manica'),
 (33, 'Moz', 'Manica'),
 (34, 'Moz', 'Manica'),
 (35, 'Moz', 'Manica'),
 (36, 'Moz', 'Manica'),
 (37, 'Moz', 'Manica'),
 (38, 'Moz', 'Manica'),
 (39, 'Moz', 'Manica'),
 (40, 'Moz', 'Manica'),
 (41, 'Moz', 'Manica'),
 (42, 'Moz', 'Manica'),
 (43, 'Moz', 'Manica'),
 (44, 'Moz', 'Manica'),
 (45, 'Moz', 'Manica'),
 (46, 'Moz', 'Manica'),
 (47, 'Moz', 'Manica'),
 (48, 'Moz', 'Manica'),
 (49, 'Moz', 'Manica'),
 (50, 'Moz', 'Manica'),
 (51, 'Moz', 'Manica'),
 (52, 'Moz', 'Manica'),
 (53, 'Moz', 'Manica'),
 (54, 'Moz', 'Manica'),
 (55, 'Moz', 'Manica'),
 (56, 'Moz', 'Manica'),
 (57, 'Moz', 'Manica'),
 (58, 'Moz', 'Manica'),
 (59, 'Moz', 'Manica'),
 (60, 'Moz', 'Manica'),
 (61, 'Moz', 'Manica'),
 (62, 'Moz', 'Manica'),
 (63, 'Moz', 'Manica'),
 (64, 'Moz', 'Manica'),
 (65, 'Moz', 'Manica'),
 (66, 'Moz', 'Manica'),
 (67, 'Moz', 'Manica'),
 (68, 'Moz', 'Manica'),
 (69, 'Moz', 'Manica'),
 (70, 'Moz', 'Manica'),
 (71, 'Moz', 'Manica'),
 (72, 'Moz', 'Manica'),
 (73, 'Moz', 'Manica'),
 (74, 'Moz', 'Manica'),
 (75, 'Moz', 'Manica'),
 (76, 'Moz', 'Manica'),
 (77, 'Moz', 'Manica'),
 (78, 'Moz', 'Manica'),
 (79, 'Moz', 'Manica'),
 (80, 'Moz', 'Manica'),
 (81, 'Moz', 'Manica'),
 (82, 'Moz', 'Manica'),
 (83, 'Moz', 'Manica'),
 (84, 'Moz', 'Manica'),
 (85, 'Moz', 'Manica'),
 (86, 'Moz', 'Manica'),
 (87, 'Moz', 'Manica'),
 (88, 'Moz', 'Manica'),
 (89, 'Moz', 'Manica'),
 (90, 'Moz', 'Manica'),
 (91, 'Moz', 'Manica'),
 (92, 'Moz', 'Manica'),
 (93, 'Moz', 'Manica'),
 (94, 'Moz', 'Manica'),
 (95, 'Moz', 'Manica'),
 (96, 'Moz', 'Manica'),
 (97, 'Moz', 'Manica'),
 (98, 'Moz', 'Manica'),
 (99, 'Moz', 'Manica'),
 (100, 'Moz', 'Manica'),
 (101, 'Moz', 'Manica'),
 (102, 'Moz', 'Manica'),
 (103, 'Moz', 'Manica'),
 (104, 'Moz', 'Manica'),
 (105, 'Moz', 'Manica'),
 (106, 'Moz', 'Manica'),
 (107, 'Moz', 'Manica'),
 (108, 'Moz', 'Manica'),
 (109, 'Moz', 'Manica'),
 (110, 'Moz', 'Manica'),
 (111, 'Moz', 'Manica'),
 (112, 'Moz', 'Manica'),
 (113, 'Moz', 'Manica'),
 (114, 'Moz', 'Manica'),
 (115, 'Moz', 'Manica'),
 (116, 'Moz', 'Manica'),
 (117, 'Moz', 'Manica'),
 (118, 'Moz', 'Manica'),
 (119, 'Moz', 'Manica'),
 (120, 'Moz', 'Manica'),
 (121, 'Moz', 'Manica'),
 (122, 'Moz', 'Manica'),
 (123, 'Moz', 'Manica'),
 (124, 'Moz', 'Manica'),
 (125, 'Moz', 'Manica'),
 (126, 'Moz', 'Manica'),
 (127, 'Moz', 'Manica'),
 (128, 'Moz', 'Manica'),
 (129, 'Moz', 'Manica'),
 (130, 'Moz', 'Manica'),
 (131, 'Moz', 'Manica'),
 (132, 'Moz', 'Nampula'),
 (133, 'Moz', 'Nampula'),
 (134, 'Moz', 'Sofala'),
 (135, 'Moz', 'Sofala'),
 (136, 'Moz', 'Sofala'),
 (137, 'Moz', 'Sofala'),
 (138, 'Moz', 'Sofala'),
 (139, 'Moz', 'Sofala'),
 (140, 'Moz', 'Sofala'),
 (141, 'Moz', 'Sofala'),
 (142, 'Moz', 'Sofala'),
 (143, 'Moz', 'Sofala'),
 (144, 'Moz', 'Sofala'),
 (145, 'Moz', 'Sofala'),
 (146, 'Moz', 'Sofala'),
 (147, 'Moz', 'Sofala'),
 (148, 'Moz', 'Sofala'),
 (149, 'Moz', 'Sofala'),
 (150, 'Moz', 'Sofala'),
 (151, 'Moz', 'Sofala'),
 (152, 'Moz', 'Sofala'),
 (153, 'Moz', 'Sofala'),
 (154, 'Moz', 'Sofala'),
 (155, 'Moz', 'Sofala'),
 (156, 'Moz', 'Sofala'),
 (157, 'Moz', 'Sofala'),
 (158, 'Moz', 'Sofala'),
 (159, 'Moz', 'Sofala'),
 (160, 'Moz', 'Sofala'),
 (161, 'Moz', 'Sofala'),
 (162, 'Moz', 'Sofala'),
 (163, 'Moz', 'Sofala'),
 (164, 'Moz', 'Sofala'),
 (165, 'Moz', 'Sofala'),
 (166, 'Moz', 'Sofala'),
 (167, 'Moz', 'Sofala'),
 (168, 'Moz', 'Sofala'),
 (169, 'Moz', 'Sofala'),
 (170, 'Moz', 'Sofala'),
 (171, 'Moz', 'Sofala'),
 (172, 'Moz', 'Sofala'),
 (173, 'Moz', 'Sofala'),
 (174, 'Moz', 'Sofala'),
 (175, 'Moz', 'Sofala'),
 (176, 'Moz', 'Sofala'),
 (177, 'Moz', 'Sofala'),
 (178, 'Moz', 'Sofala'),
 (179, 'Moz', 'Sofala'),
 (180, 'Moz', 'Sofala'),
 (181, 'Moz', 'Sofala'),
 (182, 'Moz', 'Sofala'),
 (183, 'Moz', 'Sofala'),
 (184, 'Moz', 'Sofala'),
 (185, 'Moz', 'Sofala'),
 (186, 'Moz', 'Sofala'),
 (187, 'Moz', 'Sofala'),
 (188, 'Moz', 'Sofala'),
 (189, 'Moz', 'Sofala'),
 (190, 'Moz', 'Sofala'),
 (191, 'Moz', 'Sofala'),
 (192, 'Moz', 'Sofala'),
 (193, 'Moz', 'Sofala'),
 (194, 'Moz', 'Sofala'),
 (195, 'Moz', 'Sofala'),
 (196, 'Moz', 'Sofala'),
 (197, 'Moz', 'Sofala'),
 (198, 'Moz', 'Sofala'),
 (199, 'Moz', 'Sofala'),
 (200, 'Moz', 'Sofala'),
 (201, 'Moz', 'Sofala'),
 (202, 'Moz', 'Sofala'),
 (203, 'Moz', 'Sofala'),
 (204, 'Moz', 'Sofala'),
 (205, 'Moz', 'Sofala'),
 (206, 'Moz', 'Sofala'),
 (207, 'Moz', 'Sofala'),
 (208, 'Moz', 'Sofala'),
 (209, 'Moz', 'Sofala'),
 (210, 'Moz', 'Sofala'),
 (211, 'Moz', 'Sofala'),
 (212, 'Moz', 'Sofala'),
 (213, 'Moz', 'Sofala'),
 (214, 'Moz', 'Sofala'),
 (215, 'Moz', 'Sofala'),
 (216, 'Moz', 'Sofala'),
 (217, 'Moz', 'Sofala'),
 (218, 'Moz', 'Sofala'),
 (219, 'Moz', 'Sofala'),
 (220, 'Moz', 'Sofala'),
 (221, 'Moz', 'Sofala'),
 (222, 'Moz', 'Sofala'),
 (223, 'Moz', 'Sofala'),
 (224, 'Moz', 'Sofala'),
 (225, 'Moz', 'Sofala'),
 (226, 'Moz', 'Sofala'),
 (227, 'Moz', 'Sofala'),
 (228, 'Moz', 'Sofala'),
 (229, 'Moz', 'Sofala'),
 (230, 'Moz', 'Sofala'),
 (231, 'Moz', 'Sofala'),
 (232, 'Moz', 'Sofala'),
 (233, 'Moz', 'Sofala'),
 (234, 'Moz', 'Sofala'),
 (235, 'Moz', 'Sofala'),
 (236, 'Moz', 'Sofala'),
 (237, 'Moz', 'Sofala'),
 (238, 'Moz', 'Sofala'),
 (239, 'Moz', 'Sofala'),
 (240, 'Moz', 'Sofala'),
 (241, 'Moz', 'Sofala'),
 (242, 'Moz', 'Sofala'),
 (243, 'Moz', 'Sofala'),
 (244, 'Moz', 'Sofala'),
 (245, 'Moz', 'Sofala'),
 (246, 'Moz', 'Sofala'),
 (247, 'Moz', 'Sofala'),
 (248, 'Moz', 'Sofala'),
 (249, 'Moz', 'Sofala'),
 (250, 'Moz', 'Sofala'),
 (251, 'Moz', 'Sofala'),
 (252, 'Moz', 'Sofala'),
 (253, 'Moz', 'Sofala'),
 (254, 'Moz', 'Sofala'),
 (255, 'Moz', 'Sofala'),
 (256, 'Moz', 'Sofala'),
 (257, 'Moz', 'Sofala'),
 (258, 'Moz', 'Sofala'),
 (259, 'Moz', 'Sofala'),
 (260, 'Moz', 'Sofala'),
 (261, 'Moz', 'Sofala'),
 (262, 'Moz', 'Sofala'),
 (263, 'Moz', 'Sofala'),
 (264, 'Moz', 'Sofala'),
 (265, 'Moz', 'Sofala'),
 (266, 'Moz', 'Sofala'),
 (267, 'Moz', 'Sofala'),
 (268, 'Moz', 'Sofala'),
 (269, 'Moz', 'Sofala'),
 (270, 'Moz', 'Sofala'),
 (271, 'Moz', 'Sofala'),
 (272, 'Moz', 'Sofala'),
 (273, 'Moz', 'Sofala'),
 (274, 'Moz', 'Sofala'),
 (275, 'Moz', 'Sofala'),
 (276, 'Moz', 'Sofala'),
 (277, 'Moz', 'Sofala'),
 (278, 'Moz', 'Sofala'),
 (279, 'Moz', 'Sofala'),
 (280, 'Moz', 'Sofala'),
 (281, 'Moz', 'Sofala'),
 (282, 'Moz', 'Sofala'),
 (283, 'Moz', 'Sofala'),
 (284, 'Moz', 'Sofala'),
 (285, 'Moz', 'Sofala'),
 (286, 'Moz', 'Sofala'),
 (287, 'Moz', 'Sofala'),
 (288, 'Moz', 'Sofala'),
 (289, 'Moz', 'Sofala'),
 (290, 'Moz', 'Sofala'),
 (291, 'Moz', 'Sofala'),
 (292, 'Moz', 'Sofala'),
 (293, 'Moz', 'Sofala'),
 (294, 'Moz', 'Sofala'),
 (295, 'Moz', 'Sofala'),
 (296, 'Moz', 'Sofala'),
 (297, 'Moz', 'Sofala'),
 (298, 'Moz', 'Sofala'),
 (299, 'Moz', 'Sofala'),
 (300, 'Moz', 'Sofala'),
 (301, 'Moz', 'Sofala'),
 (302, 'Moz', 'Sofala'),
 (303, 'Moz', 'Sofala'),
 (304, 'Moz', 'Sofala'),
 (305, 'Moz', 'Sofala'),
 (306, 'Moz', 'Sofala'),
 (307, 'Moz', 'Sofala'),
 (308, 'Moz', 'Sofala'),
 (309, 'Moz', 'Sofala'),
 (310, 'Moz', 'Sofala'),
 (311, 'Moz', 'Sofala'),
 (312, 'Moz', 'Sofala'),
 (313, 'Moz', 'Sofala'),
 (314, 'Moz', 'Sofala'),
 (315, 'Moz', 'Sofala'),
 (316, 'Moz', 'Sofala'),
 (317, 'Moz', 'Sofala'),
 (318, 'Moz', 'Sofala'),
 (319, 'Moz', 'Sofala'),
 (320, 'Moz', 'Sofala'),
 (321, 'Moz', 'Sofala'),
 (322, 'Moz', 'Sofala'),
 (323, 'Moz', 'Manica'),
 (324, 'Moz', 'Manica'),
 (325, 'Moz', 'Manica'),
 (326, 'Moz', 'Manica'),
 (327, 'Moz', 'Manica'),
 (328, 'Moz', 'Manica'),
 (329, 'Moz', 'Manica'),
 (330, 'Moz', 'Manica'),
 (331, 'Moz', 'Manica'),
 (332, 'Moz', 'Sofala'),
 (333, 'Moz', 'Sofala'),
 (334, 'Moz', 'Sofala'),
 (335, 'Moz', 'Sofala'),
 (336, 'Moz', 'Sofala'),
 (337, 'Moz', 'Sofala'),
 (338, 'Moz', 'Sofala'),
 (339, 'Moz', 'Sofala'),
 (340, 'Moz', 'Sofala'),
 (341, 'Moz', 'Sofala'),
 (342, 'Moz', 'Sofala'),
 (343, 'Moz', 'Sofala'),
 (344, 'Moz', 'Sofala'),
 (345, 'Moz', 'Sofala'),
 (346, 'Moz', 'Sofala'),
 (347, 'Moz', 'Sofala'),
 (348, 'Moz', 'Sofala'),
 (349, 'Moz', 'Sofala'),
 (350, 'Moz', 'Sofala')]

* Las variables pueden ser renombrar en el resultado usando la palabra AS

In [3]:
%%sql
SELECT Country AS pais, A06_province AS provincia
FROM Farms

 * sqlite:///SQL_SAFI.sqlite
Done.

[('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Nampula'),
 ('Moz', 'Nampula'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Manica'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala'),
 ('Moz', 'Sofala')]

## LIMIT

* Especifica el número máximo de filas a retornar

In [4]:
%%sql
SELECT *
FROM Farms
LIMIT 5

 * sqlite:///SQL_SAFI.sqlite
Done.

[(1, 'Moz', '17/11/2016', 1, '2017-03-23T09:49:57.000Z', '2017-04-02T17:29:08.000Z', 'Manica', 'Manica', 'Bandula', 'God', 11, 'no', 3, 3, 'no', 4, 'no', 'yes', 'no', 'yes', 'grass', 'muddaub', 'earth', 'no', 1, 1, 'no', 2, 2, 'no', 2.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'no', 'no', "['poultry']", None, 1, 'yes', 'no', "['bicycle', 'television', 'solar_panel', 'table']", 2, "['Jan']", "['na', 'rely_less_food', 'reduce_meals', 'day_night_hungry']", -19.11225943, 33.48345609, 698.0, 14.0, 'uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef'),
 (2, 'Moz', '17/11/2016', 1, '2017-04-02T09:48:16.000Z', '2017-04-02T17:26:19.000Z', 'Manica', 'Manica', 'Bandula', 'God', 2, 'yes', 7, 7, 'no', 9, 'yes', 'yes', 'yes', 'yes', 'grass', 'muddaub', 'earth', 'no', 1, 1, 'no', 3, 3, 'yes', None, 3.0, 'yes', "['Aug', 'Sept']", 2.0, 'yes', 'no', None, 'yes', 'no', 'no', 'once', 'no', None, None, 'yes', 'no', "['oxen', 'cows', 'goats']", None, 3, 'yes', 'no', "['cow_cart', 'bicycle', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']", 2, "['Jan', 'Sept', 'Oct', 'Nov', 'Dec']", "['na', 'reduce_meals', 'restrict_adults', 'borrow_food', 'seek_government']", -19.11247712, 33.48341568, 690.0, 19.0, 'uuid:099de9c9-3e5e-427b-8452-26250e840d6e'),
 (3, 'Moz', '17/11/2016', 3, '2017-04-02T14:35:26.000Z', '2017-04-02T17:26:53.000Z', 'Manica', 'Manica', 'Bandula', 'God', 40, 'no', 10, 10, 'no', 15, 'no', 'no', 'no', 'no', 'mabatisloping', 'burntbricks', 'cement', 'yes', 1, 1, 'no', 1, 1, 'no', 1.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'no', 'yes', "['none']", None, 1, 'yes', 'no', "['solar_torch']", 2, "['Jan', 'Feb', 'Mar', 'Oct', 'Nov', 'Dec']", "['na', 'restrict_adults', 'lab_ex_food']", -19.1121076, 33.48344998, 674.0, 13.0, 'uuid:193d7daf-9582-409b-bf09-027dd36f9007'),
 (4, 'Moz', '17/11/2016', 4, '2017-04-02T14:55:18.000Z', '2017-04-02T17:27:16.000Z', 'Manica', 'Manica', 'Bandula', 'God', 6, 'no', 7, 7, 'no', 6, 'no', 'no', 'no', 'no', 'mabatisloping', 'burntbricks', 'earth', 'no', 1, 1, 'no', 3, 3, 'no', 3.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'no', 'yes', "['oxen', 'cows']", None, 2, 'yes', 'no', "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'mobile_phone']", 2, "['Sept', 'Oct', 'Nov', 'Dec']", "['na', 'reduce_meals', 'restrict_adults', 'lab_ex_food']", -19.11222901, 33.48342395, 679.0, 5.0, 'uuid:148d1105-778a-4755-aa71-281eadd4a973'),
 (5, 'Moz', '17/11/2016', 5, '2017-04-02T15:10:35.000Z', '2017-04-02T17:27:35.000Z', 'Manica', 'Manica', 'Bandula', 'God', 18, 'no', 7, 7, 'no', 40, 'yes', 'no', 'yes', 'no', 'grass', 'burntbricks', 'earth', 'no', 1, 1, 'no', 2, 2, 'no', 2.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'no', 'no', "['oxen', 'cows', 'goats', 'poultry']", None, 4, 'yes', 'no', "['motorcyle', 'radio', 'cow_plough', 'mobile_phone']", 2, "['Aug', 'Sept', 'Oct', 'Nov']", "['na', 'go_forest', 'migrate']", -19.11221722, 33.48342524, 689.0, 10.0, 'uuid:2c867811-9696-4966-9866-f35c3e97d02d')]

### Práctica
* Escribe una consulta que retorne las primeras 5 filas de la tabla `Farms` solo con las columnas Id, y B16 a B20

## WHERE
* Este comando sirve para imponer una o varias condiciones. El resultado retornará solo las observaciones que cumplan con los criterios especificados.
* Se pueden usar operadores como $=$, $>$, $<$, $<=$, $>=$, $<>$
* Para especificar más de una condición se pueden usar los operadores lógicos AND y OR

In [5]:
%%sql
SELECT  Id, B16_years_liv
FROM Farms
WHERE B16_years_liv > 25

 * sqlite:///SQL_SAFI.sqlite
Done.

[(5, 40),
 (7, 38),
 (8, 70),
 (15, 30),
 (16, 47),
 (27, 36),
 (32, 69),
 (33, 34),
 (35, 45),
 (43, 29),
 (46, 42),
 (48, 58),
 (49, 26),
 (51, 30),
 (57, 27),
 (58, 45),
 (59, 60),
 (66, 37),
 (67, 31),
 (68, 52),
 (75, 41),
 (77, 79),
 (79, 50),
 (83, 43),
 (84, 48),
 (85, 49),
 (87, 49),
 (92, 48),
 (94, 40),
 (97, 96),
 (99, 48),
 (101, 52),
 (102, 40),
 (106, 26),
 (113, 28),
 (123, 36),
 (133, 65),
 (135, 27),
 (139, 65),
 (141, 32),
 (145, 43),
 (147, 42),
 (148, 42),
 (152, 45),
 (153, 45),
 (154, 45),
 (157, 50),
 (159, 35),
 (161, 40),
 (162, 45),
 (165, 46),
 (166, 30),
 (167, 40),
 (169, 36),
 (175, 41),
 (176, 45),
 (177, 50),
 (178, 50),
 (179, 38),
 (181, 37),
 (183, 40),
 (185, 34),
 (191, 45),
 (198, 50),
 (199, 45),
 (200, 30),
 (205, 30),
 (209, 28),
 (220, 35),
 (221, 30),
 (223, 40),
 (224, 70),
 (232, 40),
 (233, 37),
 (234, 40),
 (235, 30),
 (236, 27),
 (238, 50),
 (239, 30),
 (240, 30),
 (243, 35),
 (244, 33),
 (249, 27),
 (255, 40),
 (258, 40),
 (260, 30),
 (261, 60),
 (262, 30),
 (265, 26),
 (273, 45),
 (275, 40),
 (276, 51),
 (277, 40),
 (279, 49),
 (280, 60),
 (281, 31),
 (284, 37),
 (287, 28),
 (288, 30),
 (291, 45),
 (293, 49),
 (308, 30),
 (310, 40),
 (321, 60),
 (322, 27),
 (327, 28),
 (329, 32),
 (331, 39),
 (332, 50),
 (334, 51),
 (336, 40),
 (337, 40),
 (338, 30),
 (341, 40),
 (342, 40),
 (346, 55),
 (347, 35),
 (349, 68)]

* Varias condiciones

In [6]:
%%sql
SELECT  Id
FROM Farms
WHERE B17_parents_liv = 'yes' 
    AND B18_sp_parents_liv = 'yes' 
    AND B19_grand_liv = 'yes' 
    AND B20_sp_grand_liv = 'yes'

 * sqlite:///SQL_SAFI.sqlite
Done.

[(2,),
 (8,),
 (15,),
 (16,),
 (19,),
 (20,),
 (22,),
 (26,),
 (31,),
 (33,),
 (39,),
 (41,),
 (46,),
 (47,),
 (49,),
 (53,),
 (56,),
 (57,),
 (58,),
 (59,),
 (60,),
 (71,),
 (75,),
 (79,),
 (85,),
 (88,),
 (90,),
 (92,),
 (94,),
 (97,),
 (105,),
 (114,),
 (118,),
 (120,),
 (122,),
 (123,),
 (126,),
 (127,),
 (134,),
 (141,),
 (142,),
 (150,),
 (159,),
 (169,),
 (184,),
 (187,),
 (194,),
 (197,),
 (211,),
 (213,),
 (214,),
 (216,),
 (225,),
 (226,),
 (227,),
 (232,),
 (235,),
 (238,),
 (239,),
 (258,),
 (262,),
 (265,),
 (270,),
 (276,),
 (278,),
 (280,),
 (281,),
 (284,),
 (287,),
 (293,),
 (294,),
 (308,),
 (311,),
 (312,),
 (314,),
 (326,),
 (327,),
 (342,),
 (343,),
 (349,),
 (350,)]

In [7]:
%%sql
SELECT Id, B16_years_liv
FROM Farms
WHERE B16_years_liv > 50 AND B16_years_liv < 60

 * sqlite:///SQL_SAFI.sqlite
Done.

[(48, 58), (68, 52), (101, 52), (276, 51), (334, 51), (346, 55)]

* Se puede usar el operador BETWEEN para especificar un rango de valores.

In [8]:
%%sql
SELECT Id, B16_years_liv
FROM Farms
WHERE B16_years_liv BETWEEN 51 AND 59

 * sqlite:///SQL_SAFI.sqlite
Done.

[(48, 58), (68, 52), (101, 52), (276, 51), (334, 51), (346, 55)]

* Se puede usar el operador IN para especificar una lista de valores.

In [9]:
%%sql
SELECT Id, B16_years_liv
FROM Farms
WHERE B16_years_liv IN (51, 52, 53, 54, 55, 56, 57, 58, 59)

 * sqlite:///SQL_SAFI.sqlite
Done.

[(48, 58), (68, 52), (101, 52), (276, 51), (334, 51), (346, 55)]

* Al poner varias condiciones, es recomendable agruparlas con paréntesis para evitar confusiones.

In [10]:
%%sql
SELECT  Id
FROM Farms
WHERE (B17_parents_liv = 'yes' OR B18_sp_parents_liv = 'yes') AND B16_years_liv > 60

 * sqlite:///SQL_SAFI.sqlite
Done.

[(8,), (32,), (77,), (97,), (224,), (349,)]

### Práctica
* Escribe una consulta con la tabla `Farms` que retorne las columnas `Id`, `A09_village`, `A11_years_farm`, `B16_years_liv`. Filtra las filas para quedarnos solo con las filas donde el valor de `A09_village` es `God` o `Ruaca`. Adicionalmente, solo queremos valores de `A11_years_farm` entre 20 y 30 y valores de `B16_years_liv` mayores que 40.

## seleccionar valores nulos

* Para seleccionar observaciones que tienen valores nulos se usa la condición IS NULL. 
* Para seleccionar los que son no nulos se usa IS NOT NULL

In [11]:
%%sql
SELECT B16_years_liv, F14_items_owned
FROM Farms
WHERE F14_items_owned IS NULL

 * sqlite:///SQL_SAFI.sqlite
Done.

[(3, None),
 (20, None),
 (2, None),
 (2, None),
 (22, None),
 (15, None),
 (60, None),
 (10, None),
 (41, None),
 (49, None),
 (4, None),
 (65, None),
 (45, None),
 (50, None),
 (3, None),
 (10, None),
 (40, None),
 (45, None),
 (30, None),
 (36, None),
 (50, None),
 (38, None),
 (18, None),
 (22, None),
 (17, None),
 (15, None),
 (12, None),
 (60, None),
 (17, None),
 (45, None),
 (28, None),
 (1, None),
 (60, None),
 (35, None)]

In [12]:
%%sql
SELECT B16_years_liv, F14_items_owned
FROM Farms
WHERE F14_items_owned NOT NULL

 * sqlite:///SQL_SAFI.sqlite
Done.

[(4, "['bicycle', 'television', 'solar_panel', 'table']"),
 (9, "['cow_cart', 'bicycle', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (15, "['solar_torch']"),
 (6, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (40, "['motorcyle', 'radio', 'cow_plough', 'mobile_phone']"),
 (38, "['motorcyle', 'cow_plough']"),
 (70, "['motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'fridge']"),
 (6, "['television', 'solar_panel', 'solar_torch']"),
 (23, "['cow_cart', 'motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table']"),
 (20, "['radio', 'cow_plough']"),
 (20, "['cow_cart', 'bicycle', 'radio', 'cow_plough', 'table']"),
 (8, "['bicycle', 'radio', 'cow_plough', 'mobile_phone']"),
 (20, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'table', 'mobile_phone']"),
 (30, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'table']"),
 (47, "['radio', 'cow_plough', 'solar_panel', 'solar_torch']"),
 (20, "['mobile_phone']"),
 (20, "['bicycle', 'mobile_phone']"),
 (23, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (1, "['bicycle', 'cow_plough', 'solar_torch']"),
 (20, "['radio']"),
 (20, "['cow_cart', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'electricity', 'mobile_phone']"),
 (4, "['radio', 'table', 'sofa_set', 'mobile_phone']"),
 (6, "['cow_cart', 'motorcyle', 'television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'sofa_set', 'mobile_phone']"),
 (20, "['radio', 'cow_plough', 'table', 'mobile_phone']"),
 (36, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (10, "['motorcyle', 'bicycle', 'radio', 'table', 'mobile_phone']"),
 (22, "['bicycle', 'radio', 'mobile_phone']"),
 (69, "['cow_cart', 'motorcyle', 'radio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (34, "['cow_cart', 'lorry', 'motorcyle', 'sterio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (18, "['television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (45, "['bicycle', 'cow_plough']"),
 (23, "['cow_cart', 'bicycle', 'radio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (8, "['bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (19, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'table', 'mobile_phone']"),
 (23, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'table', 'mobile_phone']"),
 (22, "['motorcyle', 'bicycle', 'radio', 'cow_plough', 'table']"),
 (8, "['mobile_phone']"),
 (29, "['cow_plough', 'mobile_phone']"),
 (6, "['radio', 'solar_torch']"),
 (7, "['motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (42, "['motorcyle', 'computer', 'television', 'sterio', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (2, "['solar_torch', 'mobile_phone']"),
 (58, "['radio']"),
 (26, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (7, "['solar_torch']"),
 (30, "['radio']"),
 (15, "['motorcyle', 'television', 'radio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (16, "['bicycle', 'radio', 'mobile_phone']"),
 (23, "['television', 'cow_plough', 'mobile_phone']"),
 (23, "['motorcyle', 'bicycle', 'mobile_phone']"),
 (27, "['radio']"),
 (45, "['motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (15, "['cow_plough']"),
 (14, "['cow_cart', 'motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'table', 'mobile_phone']"),
 (5, "['bicycle', 'radio', 'mobile_phone']"),
 (1, "['bicycle', 'solar_torch', 'table', 'sofa_set', 'mobile_phone']"),
 (20, "['motorcyle', 'radio', 'cow_plough', 'table']"),
 (37, "['cow_cart', 'motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (31, "['motorcyle', 'radio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (52, "['motorcyle', 'television', 'sterio', 'solar_panel', 'mobile_phone']"),
 (12, "['bicycle', 'radio', 'solar_torch', 'mobile_phone']"),
 (25, "['cow_cart', 'bicycle', 'radio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (14, "['radio', 'cow_plough', 'mobile_phone']"),
 (18, "['mobile_phone']"),
 (25, "['cow_cart', 'car', 'lorry', 'motorcyle', 'bicycle', 'television', 'sterio', 'cow_plough', 'solar_panel', 'solar_torch', 'electricity', 'table', 'sofa_set', 'mobile_phone', 'fridge']"),
 (16, "['motorcyle', 'bicycle', 'radio', 'sterio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (4, "['electricity']"),
 (79, "['radio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (13, "['motorcyle', 'television', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (50, "['cow_plough', 'solar_panel']"),
 (25, "['cow_cart', 'motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (21, "['solar_panel']"),
 (24, "['cow_plough', 'mobile_phone']"),
 (43, "['cow_cart', 'motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (48, "['cow_cart', 'bicycle', 'radio', 'cow_plough', 'solar_torch']"),
 (49, "['radio', 'cow_plough', 'mobile_phone']"),
 (19, "['bicycle', 'television', 'radio', 'cow_plough', 'solar_torch', 'table', 'mobile_phone']"),
 (6, "['bicycle', 'radio', 'solar_torch', 'mobile_phone']"),
 (12, "['cow_cart', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (24, "['bicycle', 'radio', 'cow_plough']"),
 (9, "['cow_cart', 'motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'table', 'mobile_phone']"),
 (48, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (22, "['radio', 'cow_plough', 'solar_torch']"),
 (40, "['radio', 'cow_plough']"),
 (10, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (4, "['bicycle', 'solar_torch']"),
 (96, "['cow_cart', 'cow_plough', 'solar_panel', 'sofa_set', 'mobile_phone']"),
 (15, "['cow_plough', 'table', 'sofa_set', 'mobile_phone']"),
 (48, "['cow_plough']"),
 (12, "['cow_cart', 'bicycle', 'radio', 'cow_plough', 'solar_panel', 'solar_torch']"),
 (52, "['cow_cart', 'bicycle', 'cow_plough']"),
 (40, "['motorcyle', 'radio', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (22, "['cow_cart', 'motorcyle', 'bicycle', 'radio', 'sterio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (12, "['cow_cart', 'bicycle', 'radio', 'cow_plough', 'table']"),
 (22, "['bicycle', 'radio', 'cow_plough', 'table', 'mobile_phone']"),
 (26, "['cow_cart', 'motorcyle', 'bicycle', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (25, "['radio', 'solar_torch', 'mobile_phone']"),
 (14, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (14, "['bicycle', 'cow_plough', 'solar_panel', 'mobile_phone']"),
 (16, "['cow_cart', 'motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (22, "['cow_cart', 'bicycle', 'radio', 'cow_plough', 'solar_panel', 'table', 'mobile_phone']"),
 (25, "['motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (28, "['motorcyle', 'television', 'radio', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (5, "['cow_cart', 'television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (24, "['cow_cart', 'motorcyle', 'television', 'radio', 'cow_plough', 'solar_torch', 'table', 'mobile_phone']"),
 (8, "['mobile_phone']"),
 (24, "['radio', 'solar_panel', 'solar_torch']"),
 (13, "['cow_cart', 'cow_plough', 'solar_torch', 'mobile_phone']"),
 (14, "['cow_cart', 'motorcyle', 'bicycle', 'television', 'radio', 'cow_plough', 'solar_torch', 'electricity', 'table', 'sofa_set', 'mobile_phone', 'fridge']"),
 (16, "['bicycle', 'solar_torch', 'mobile_phone']"),
 (24, "['motorcyle', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (25, "['car', 'lorry', 'motorcyle', 'radio', 'sterio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'sofa_set', 'mobile_phone', 'fridge']"),
 (36, "['motorcyle', 'bicycle', 'radio', 'sterio', 'cow_plough', 'solar_panel', 'table', 'mobile_phone']"),
 (16, "['motorcyle', 'radio', 'sterio', 'cow_plough', 'solar_panel', 'table', 'mobile_phone']"),
 (5, "['radio', 'cow_plough', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (20, "['bicycle', 'television', 'radio', 'sterio', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (7, "['motorcyle', 'radio', 'solar_panel']"),
 (10, "['car', 'lorry', 'television', 'radio', 'sterio', 'cow_plough', 'solar_torch', 'electricity', 'table', 'sofa_set', 'mobile_phone', 'fridge']"),
 (5, "['radio', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (17, "['cow_cart', 'lorry', 'motorcyle', 'computer', 'television', 'radio', 'sterio', 'cow_plough', 'solar_panel', 'solar_torch', 'electricity', 'mobile_phone']"),
 (20, "['radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (9, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (27, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (22, "['bicycle', 'radio', 'solar_panel', 'mobile_phone']"),
 (20, "['bicycle', 'radio', 'sterio', 'solar_torch', 'mobile_phone']"),
 (4, "['radio', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (65, "['solar_panel']"),
 (25, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (32, "['bicycle', 'radio', 'solar_torch']"),
 (11, "['bicycle', 'radio', 'solar_torch', 'mobile_phone']"),
 (7, "['sterio', 'solar_torch', 'mobile_phone']"),
 (12, "['bicycle', 'radio', 'sterio', 'mobile_phone']"),
 (43, "['bicycle', 'radio', 'solar_panel', 'mobile_phone']"),
 (23, "['television', 'tractor', 'solar_panel', 'mobile_phone']"),
 (42, "['motorcyle', 'radio', 'sterio', 'solar_panel', 'mobile_phone']"),
 (42, "['bicycle', 'radio', 'cow_plough', 'solar_panel', 'table', 'mobile_phone']"),
 (25, "['bicycle', 'radio', 'table', 'mobile_phone']"),
 (22, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (11, "['radio']"),
 (45, "['bicycle', 'sterio', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (45, "['bicycle']"),
 (8, "['television', 'radio', 'mobile_phone']"),
 (7, "['solar_panel']"),
 (35, "['bicycle', 'table']"),
 (10, "['bicycle']"),
 (1, "['bicycle']"),
 (46, "['bicycle']"),
 (40, "['bicycle']"),
 (5, "['bicycle', 'solar_panel', 'table', 'mobile_phone']"),
 (6, "['bicycle']"),
 (8, "['radio', 'solar_torch', 'mobile_phone']"),
 (24, "['bicycle', 'radio', 'solar_panel', 'solar_torch']"),
 (10, "['bicycle', 'radio', 'tractor', 'solar_panel', 'mobile_phone']"),
 (3, "['bicycle', 'radio', 'mobile_phone']"),
 (41, "['bicycle', 'solar_panel', 'mobile_phone']"),
 (45, "['mobile_phone']"),
 (50, "['solar_panel', 'solar_torch', 'mobile_phone']"),
 (10, "['bicycle', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (37, "['bicycle', 'radio', 'table']"),
 (21, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (40, "['bicycle', 'radio', 'solar_torch', 'table', 'mobile_phone']"),
 (9, "['bicycle', 'radio']"),
 (34, "['bicycle', 'solar_panel', 'mobile_phone']"),
 (17, "['radio', 'solar_panel']"),
 (14, "['bicycle', 'television', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (20, "['bicycle']"),
 (45, "['bicycle', 'radio']"),
 (16, "['bicycle', 'solar_torch', 'table', 'mobile_phone']"),
 (6, "['bicycle', 'radio', 'solar_torch', 'table', 'mobile_phone']"),
 (23, "['table']"),
 (15, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (50, "['bicycle', 'solar_panel', 'mobile_phone']"),
 (45, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (30, "['bicycle', 'radio', 'mobile_phone']"),
 (19, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (19, "['radio']"),
 (18, "['table']"),
 (13, "['bicycle']"),
 (30, "['bicycle', 'solar_torch']"),
 (20, "['bicycle', 'table', 'mobile_phone']"),
 (13, "['bicycle', 'radio', 'mobile_phone']"),
 (4, "['bicycle', 'electricity', 'table']"),
 (28, "['bicycle', 'television', 'radio', 'electricity', 'table']"),
 (14, "['radio', 'solar_torch', 'table']"),
 (12, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'electricity', 'table', 'mobile_phone']"),
 (20, "['bicycle', 'television', 'radio', 'sterio', 'solar_panel', 'electricity', 'table', 'sofa_set', 'mobile_phone']"),
 (22, "['table', 'mobile_phone']"),
 (25, "['bicycle', 'radio', 'solar_torch', 'mobile_phone']"),
 (15, "['solar_torch']"),
 (10, "['bicycle', 'radio', 'solar_torch', 'mobile_phone']"),
 (7, "['motorcyle', 'television', 'solar_panel', 'sofa_set', 'mobile_phone']"),
 (25, "['radio', 'mobile_phone']"),
 (35, "['bicycle', 'radio', 'mobile_phone']"),
 (30, "['bicycle', 'radio', 'solar_panel', 'mobile_phone']"),
 (20, "['bicycle', 'television', 'radio', 'sterio', 'solar_panel', 'solar_torch', 'electricity', 'table', 'sofa_set', 'mobile_phone']"),
 (40, "['solar_torch']"),
 (70, "['motorcyle', 'radio', 'solar_panel', 'solar_torch', 'table']"),
 (5, "['bicycle', 'solar_torch']"),
 (15, "['bicycle', 'radio', 'sterio', 'solar_torch']"),
 (5, "['computer', 'solar_torch']"),
 (20, "['bicycle', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (4, "['radio']"),
 (17, "['bicycle', 'radio', 'solar_panel', 'solar_torch']"),
 (10, "['lorry', 'solar_panel', 'mobile_phone']"),
 (40, "['bicycle', 'radio', 'table', 'mobile_phone']"),
 (37, "['bicycle', 'radio', 'mobile_phone']"),
 (40, "['motorcyle', 'television', 'electricity', 'table', 'sofa_set', 'mobile_phone', 'fridge']"),
 (30, "['radio', 'table']"),
 (27, "['bicycle', 'radio', 'electricity', 'mobile_phone', 'fridge']"),
 (3, "['bicycle', 'radio']"),
 (50, "['bicycle', 'solar_torch', 'table']"),
 (30, "['bicycle', 'table', 'mobile_phone']"),
 (30, "['bicycle', 'radio', 'electricity', 'table', 'mobile_phone']"),
 (6, "['motorcyle', 'bicycle', 'television', 'radio', 'table', 'mobile_phone']"),
 (20, "['bicycle', 'mobile_phone']"),
 (35, "['bicycle', 'solar_panel', 'table', 'mobile_phone']"),
 (33, "['bicycle', 'radio', 'solar_panel', 'mobile_phone']"),
 (5, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (3, "['solar_torch', 'mobile_phone']"),
 (15, "['bicycle', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (9, "['bicycle', 'television', 'radio', 'solar_panel', 'solar_torch', 'electricity', 'table', 'mobile_phone', 'fridge']"),
 (27, "['motorcyle', 'bicycle', 'television', 'radio', 'solar_panel', 'solar_torch', 'electricity', 'table', 'mobile_phone', 'fridge']"),
 (5, "['bicycle', 'television', 'radio', 'solar_torch', 'electricity', 'table', 'mobile_phone', 'fridge']"),
 (3, "['bicycle', 'table', 'mobile_phone']"),
 (20, "['bicycle', 'solar_torch', 'mobile_phone']"),
 (20, "['car', 'lorry', 'motorcyle', 'television', 'electricity', 'table', 'sofa_set', 'mobile_phone', 'fridge']"),
 (7, "['car', 'television', 'radio', 'sterio', 'electricity', 'table', 'mobile_phone']"),
 (40, "['solar_torch']"),
 (15, "['television', 'mobile_phone']"),
 (6, "['bicycle', 'radio', 'solar_torch']"),
 (40, "['radio', 'solar_panel', 'electricity', 'mobile_phone']"),
 (19, "['solar_panel']"),
 (30, "['bicycle', 'solar_torch']"),
 (30, "['radio', 'solar_panel']"),
 (20, "['bicycle', 'radio', 'mobile_phone']"),
 (11, "['bicycle', 'radio', 'mobile_phone']"),
 (26, "['television', 'electricity', 'table', 'mobile_phone']"),
 (2, "['bicycle', 'television', 'radio', 'sterio', 'electricity', 'table', 'mobile_phone']"),
 (5, "['bicycle', 'radio', 'solar_torch', 'table']"),
 (13, "['bicycle', 'solar_torch', 'table']"),
 (10, "['bicycle', 'table']"),
 (10, "['bicycle']"),
 (25, "['bicycle', 'radio', 'table']"),
 (15, "['bicycle', 'television', 'radio', 'table', 'fridge']"),
 (40, "['radio', 'table', 'mobile_phone']"),
 (51, "['bicycle', 'solar_panel', 'mobile_phone']"),
 (40, "['bicycle', 'television', 'radio', 'table', 'sofa_set']"),
 (22, "['bicycle']"),
 (49, "['bicycle']"),
 (60, "['bicycle', 'mobile_phone']"),
 (31, "['bicycle', 'mobile_phone']"),
 (20, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (20, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (37, "['motorcyle', 'bicycle', 'television', 'radio', 'electricity', 'table', 'sofa_set', 'mobile_phone', 'fridge']"),
 (23, "['radio', 'table']"),
 (23, "['bicycle', 'solar_panel', 'table', 'mobile_phone']"),
 (30, "['bicycle', 'radio', 'table']"),
 (21, "['bicycle', 'radio', 'solar_torch', 'table']"),
 (1, "['bicycle', 'table', 'mobile_phone']"),
 (45, "['bicycle', 'radio', 'mobile_phone']"),
 (7, "['radio', 'fridge']"),
 (49, "['radio', 'table', 'mobile_phone']"),
 (13, "['mobile_phone']"),
 (12, "['bicycle', 'radio', 'table']"),
 (19, "['solar_torch', 'table', 'mobile_phone']"),
 (4, "['bicycle', 'mobile_phone']"),
 (2, "['bicycle', 'solar_torch', 'electricity', 'mobile_phone']"),
 (4, "['bicycle', 'solar_torch', 'table']"),
 (11, "['motorcyle', 'bicycle', 'radio', 'solar_torch', 'electricity', 'table', 'mobile_phone']"),
 (3, "['bicycle', 'radio', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (10, "['bicycle', 'television', 'radio', 'solar_panel', 'solar_torch', 'electricity', 'table', 'mobile_phone', 'fridge']"),
 (20, "['bicycle', 'radio', 'solar_panel', 'solar_torch']"),
 (23, "['bicycle', 'radio', 'solar_panel']"),
 (13, "['bicycle', 'radio', 'mobile_phone']"),
 (17, "['motorcyle', 'radio', 'solar_torch']"),
 (30, "['bicycle', 'radio', 'solar_panel', 'table']"),
 (17, "['television', 'radio', 'mobile_phone']"),
 (40, "['bicycle', 'mobile_phone']"),
 (15, "['motorcyle', 'radio', 'solar_torch', 'table', 'mobile_phone']"),
 (5, "['radio', 'sterio', 'electricity', 'table', 'mobile_phone']"),
 (7, "['bicycle', 'radio', 'table', 'mobile_phone']"),
 (5, "['bicycle', 'sterio', 'cow_plough', 'solar_panel', 'sofa_set']"),
 (3, "['bicycle', 'television', 'radio', 'sterio', 'table', 'sofa_set', 'mobile_phone', 'fridge']"),
 (10, "['motorcyle', 'bicycle', 'television', 'radio', 'sterio', 'solar_panel', 'electricity', 'table', 'mobile_phone']"),
 (4, "['bicycle', 'radio', 'table', 'mobile_phone']"),
 (10, "['bicycle', 'table', 'mobile_phone']"),
 (5, "['bicycle', 'radio', 'solar_panel', 'table']"),
 (5, "['bicycle', 'radio', 'electricity', 'mobile_phone']"),
 (27, "['television', 'electricity', 'table', 'mobile_phone']"),
 (17, "['bicycle', 'radio', 'cow_plough', 'solar_torch', 'mobile_phone']"),
 (9, "['bicycle', 'radio', 'sterio', 'cow_plough', 'solar_panel', 'solar_torch']"),
 (21, "['bicycle', 'television', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (15, "['bicycle', 'radio', 'sterio', 'cow_plough', 'solar_torch', 'table', 'mobile_phone']"),
 (28, "['bicycle', 'table', 'mobile_phone']"),
 (15, "['bicycle', 'radio', 'sterio', 'solar_torch', 'table', 'mobile_phone']"),
 (32, "['sterio', 'solar_panel', 'solar_torch', 'mobile_phone']"),
 (25, "['computer', 'radio', 'sterio', 'cow_plough', 'solar_panel', 'table', 'mobile_phone']"),
 (39, "['television', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']"),
 (50, "['bicycle', 'mobile_phone']"),
 (18, "['bicycle', 'radio', 'solar_panel', 'electricity', 'mobile_phone']"),
 (51, "['bicycle', 'television', 'radio', 'electricity', 'table', 'sofa_set', 'mobile_phone', 'fridge']"),
 (13, "['motorcyle', 'bicycle', 'television', 'electricity', 'table', 'mobile_phone', 'fridge']"),
 (40, "['bicycle', 'radio', 'sofa_set']"),
 (40, "['bicycle', 'radio', 'mobile_phone']"),
 (30, "['bicycle', 'solar_panel']"),
 (17, "['bicycle', 'radio', 'solar_panel', 'mobile_phone']"),
 (18, "['bicycle', 'radio', 'sterio', 'solar_panel', 'mobile_phone']"),

## ORDER BY
* Esta instrucción sirve para ordenar las filas de la tabla

In [13]:
%%sql
SELECT Id, A09_village, A11_years_farm, B16_years_liv
FROM Farms
WHERE A09_village = 'God'
ORDER BY A11_years_farm

 * sqlite:///SQL_SAFI.sqlite
Done.

[(83, 'God', 1, 43),
 (2, 'God', 2, 9),
 (6, 'God', 3, 3),
 (118, 'God', 3, 13),
 (76, 'God', 5, 4),
 (4, 'God', 6, 6),
 (11, 'God', 6, 20),
 (18, 'God', 6, 20),
 (88, 'God', 6, 6),
 (13, 'God', 7, 8),
 (84, 'God', 7, 48),
 (42, 'God', 8, 8),
 (17, 'God', 10, 20),
 (95, 'God', 10, 10),
 (96, 'God', 10, 4),
 (1, 'God', 11, 4),
 (78, 'God', 11, 13),
 (86, 'God', 11, 19),
 (87, 'God', 11, 49),
 (89, 'God', 12, 12),
 (104, 'God', 12, 12),
 (22, 'God', 14, 20),
 (117, 'God', 17, 24),
 (5, 'God', 18, 40),
 (38, 'God', 19, 19),
 (7, 'God', 20, 38),
 (12, 'God', 20, 20),
 (14, 'God', 20, 20),
 (19, 'God', 20, 23),
 (21, 'God', 20, 20),
 (80, 'God', 20, 25),
 (81, 'God', 20, 21),
 (85, 'God', 21, 49),
 (39, 'God', 22, 22),
 (41, 'God', 22, 22),
 (103, 'God', 22, 22),
 (111, 'God', 22, 22),
 (40, 'God', 23, 23),
 (16, 'God', 24, 47),
 (20, 'God', 24, 1),
 (82, 'God', 24, 24),
 (15, 'God', 30, 30),
 (3, 'God', 40, 15)]

* Se puede especificar el orden ascendente o descendente con ASC o DESC, respectivamente.

In [14]:
%%sql
SELECT Id, A09_village, A11_years_farm, B16_years_liv
FROM Farms
WHERE A09_village = 'God'
ORDER BY A11_years_farm DESC

 * sqlite:///SQL_SAFI.sqlite
Done.

[(3, 'God', 40, 15),
 (15, 'God', 30, 30),
 (16, 'God', 24, 47),
 (20, 'God', 24, 1),
 (82, 'God', 24, 24),
 (40, 'God', 23, 23),
 (39, 'God', 22, 22),
 (41, 'God', 22, 22),
 (103, 'God', 22, 22),
 (111, 'God', 22, 22),
 (85, 'God', 21, 49),
 (7, 'God', 20, 38),
 (12, 'God', 20, 20),
 (14, 'God', 20, 20),
 (19, 'God', 20, 23),
 (21, 'God', 20, 20),
 (80, 'God', 20, 25),
 (81, 'God', 20, 21),
 (38, 'God', 19, 19),
 (5, 'God', 18, 40),
 (117, 'God', 17, 24),
 (22, 'God', 14, 20),
 (89, 'God', 12, 12),
 (104, 'God', 12, 12),
 (1, 'God', 11, 4),
 (78, 'God', 11, 13),
 (86, 'God', 11, 19),
 (87, 'God', 11, 49),
 (17, 'God', 10, 20),
 (95, 'God', 10, 10),
 (96, 'God', 10, 4),
 (42, 'God', 8, 8),
 (13, 'God', 7, 8),
 (84, 'God', 7, 48),
 (4, 'God', 6, 6),
 (11, 'God', 6, 20),
 (18, 'God', 6, 20),
 (88, 'God', 6, 6),
 (76, 'God', 5, 4),
 (6, 'God', 3, 3),
 (118, 'God', 3, 13),
 (2, 'God', 2, 9),
 (83, 'God', 1, 43)]

* Se puede ordenar por varias variables

In [15]:
%%sql
SELECT Id, A09_village, A11_years_farm, B16_years_liv
FROM Farms
WHERE A09_village = 'God'
ORDER BY A11_years_farm ASC , B16_years_liv DESC

 * sqlite:///SQL_SAFI.sqlite
Done.

[(83, 'God', 1, 43),
 (2, 'God', 2, 9),
 (118, 'God', 3, 13),
 (6, 'God', 3, 3),
 (76, 'God', 5, 4),
 (11, 'God', 6, 20),
 (18, 'God', 6, 20),
 (4, 'God', 6, 6),
 (88, 'God', 6, 6),
 (84, 'God', 7, 48),
 (13, 'God', 7, 8),
 (42, 'God', 8, 8),
 (17, 'God', 10, 20),
 (95, 'God', 10, 10),
 (96, 'God', 10, 4),
 (87, 'God', 11, 49),
 (86, 'God', 11, 19),
 (78, 'God', 11, 13),
 (1, 'God', 11, 4),
 (89, 'God', 12, 12),
 (104, 'God', 12, 12),
 (22, 'God', 14, 20),
 (117, 'God', 17, 24),
 (5, 'God', 18, 40),
 (38, 'God', 19, 19),
 (7, 'God', 20, 38),
 (80, 'God', 20, 25),
 (19, 'God', 20, 23),
 (81, 'God', 20, 21),
 (12, 'God', 20, 20),
 (14, 'God', 20, 20),
 (21, 'God', 20, 20),
 (85, 'God', 21, 49),
 (39, 'God', 22, 22),
 (41, 'God', 22, 22),
 (103, 'God', 22, 22),
 (111, 'God', 22, 22),
 (40, 'God', 23, 23),
 (16, 'God', 24, 47),
 (82, 'God', 24, 24),
 (20, 'God', 24, 1),
 (15, 'God', 30, 30),
 (3, 'God', 40, 15)]

* En conjunto con LIMIT nos puede dar el top N

In [16]:
%%sql
SELECT Id, A09_village, A11_years_farm, B16_years_liv
FROM Farms
WHERE A09_village = 'God'
ORDER BY A11_years_farm DESC
LIMIT 3

 * sqlite:///SQL_SAFI.sqlite
Done.

[(3, 'God', 40, 15), (15, 'God', 30, 30), (16, 'God', 24, 47)]

# Funciones y operaciones con columnas

* Es posible hacer algunas operaciones aritméticas entre columnas

In [17]:
%%sql
SELECT B16_years_liv * 100
FROM Farms

 * sqlite:///SQL_SAFI.sqlite
Done.

[(400,),
 (900,),
 (1500,),
 (600,),
 (4000,),
 (300,),
 (3800,),
 (7000,),
 (600,),
 (2300,),
 (2000,),
 (2000,),
 (800,),
 (2000,),
 (3000,),
 (4700,),
 (2000,),
 (2000,),
 (2300,),
 (100,),
 (2000,),
 (2000,),
 (2000,),
 (400,),
 (600,),
 (2000,),
 (3600,),
 (200,),
 (1000,),
 (2200,),
 (200,),
 (6900,),
 (3400,),
 (1800,),
 (4500,),
 (2300,),
 (800,),
 (1900,),
 (2200,),
 (2300,),
 (2200,),
 (800,),
 (2900,),
 (600,),
 (700,),
 (4200,),
 (200,),
 (5800,),
 (2600,),
 (700,),
 (3000,),
 (1500,),
 (1600,),
 (1500,),
 (2300,),
 (2300,),
 (2700,),
 (4500,),
 (6000,),
 (1500,),
 (1400,),
 (500,),
 (1000,),
 (100,),
 (2000,),
 (3700,),
 (3100,),
 (5200,),
 (1200,),
 (2500,),
 (1400,),
 (1800,),
 (2500,),
 (1600,),
 (4100,),
 (400,),
 (7900,),
 (1300,),
 (5000,),
 (2500,),
 (2100,),
 (2400,),
 (4300,),
 (4800,),
 (4900,),
 (1900,),
 (4900,),
 (600,),
 (1200,),
 (2400,),
 (900,),
 (4800,),
 (2200,),
 (4000,),
 (1000,),
 (400,),
 (9600,),
 (1500,),
 (4800,),
 (1200,),
 (5200,),
 (4000,),
 (2200,),
 (1200,),
 (2200,),
 (2600,),
 (2500,),
 (1400,),
 (1400,),
 (1600,),
 (2200,),
 (2500,),
 (2800,),
 (500,),
 (2400,),
 (800,),
 (2400,),
 (1300,),
 (1400,),
 (1600,),
 (2400,),
 (2500,),
 (3600,),
 (1600,),
 (500,),
 (2000,),
 (700,),
 (1000,),
 (500,),
 (1700,),
 (2000,),
 (400,),
 (6500,),
 (900,),
 (2700,),
 (2200,),
 (2000,),
 (400,),
 (6500,),
 (2500,),
 (3200,),
 (1100,),
 (700,),
 (1200,),
 (4300,),
 (2300,),
 (4200,),
 (4200,),
 (2500,),
 (2200,),
 (1100,),
 (4500,),
 (4500,),
 (4500,),
 (800,),
 (700,),
 (5000,),
 (300,),
 (3500,),
 (1000,),
 (4000,),
 (4500,),
 (1000,),
 (100,),
 (4600,),
 (3000,),
 (4000,),
 (500,),
 (3600,),
 (600,),
 (800,),
 (2400,),
 (1000,),
 (300,),
 (4100,),
 (4500,),
 (5000,),
 (5000,),
 (3800,),
 (1000,),
 (3700,),
 (2100,),
 (4000,),
 (900,),
 (3400,),
 (1700,),
 (1800,),
 (1400,),
 (2000,),
 (2200,),
 (4500,),
 (1600,),
 (1700,),
 (600,),
 (2300,),
 (1500,),
 (1500,),
 (5000,),
 (4500,),
 (3000,),
 (1900,),
 (1900,),
 (1800,),
 (1300,),
 (3000,),
 (2000,),
 (1300,),
 (400,),
 (2800,),
 (1400,),
 (1200,),
 (2000,),
 (2200,),
 (2500,),
 (1200,),
 (1500,),
 (1000,),
 (700,),
 (2500,),
 (3500,),
 (3000,),
 (2000,),
 (4000,),
 (7000,),
 (500,),
 (1500,),
 (500,),
 (2000,),
 (400,),
 (1700,),
 (1000,),
 (4000,),
 (3700,),
 (4000,),
 (3000,),
 (2700,),
 (300,),
 (5000,),
 (3000,),
 (3000,),
 (600,),
 (2000,),
 (3500,),
 (3300,),
 (500,),
 (300,),
 (1500,),
 (900,),
 (2700,),
 (500,),
 (300,),
 (2000,),
 (2000,),
 (700,),
 (4000,),
 (1500,),
 (600,),
 (4000,),
 (1900,),
 (3000,),
 (6000,),
 (3000,),
 (2000,),
 (1100,),
 (2600,),
 (200,),
 (1700,),
 (500,),
 (1300,),
 (1000,),
 (1000,),
 (2500,),
 (4500,),
 (1500,),
 (4000,),
 (5100,),
 (4000,),
 (2200,),
 (4900,),
 (6000,),
 (3100,),
 (2000,),
 (2000,),
 (3700,),
 (2300,),
 (2300,),
 (2800,),
 (3000,),
 (2100,),
 (100,),
 (4500,),
 (700,),
 (4900,),
 (1300,),
 (1200,),
 (1900,),
 (400,),
 (200,),
 (400,),
 (100,),
 (1100,),
 (300,),
 (1000,),
 (2000,),
 (2300,),
 (1300,),
 (1700,),
 (3000,),
 (1700,),
 (4000,),
 (1500,),
 (500,),
 (700,),
 (500,),
 (300,),
 (1000,),
 (400,),
 (1000,),
 (500,),
 (500,),
 (6000,),
 (2700,),
 (1700,),
 (900,),
 (2100,),
 (1500,),
 (2800,),
 (1500,),
 (3200,),
 (2500,),
 (3900,),
 (5000,),
 (1800,),
 (5100,),
 (1300,),
 (4000,),
 (4000,),
 (3000,),
 (1700,),
 (1800,),
 (4000,),
 (4000,),
 (2500,),
 (2200,),
 (1500,),
 (5500,),
 (3500,),
 (2000,),
 (6800,),
 (1000,)]

In [18]:
%%sql
SELECT B_no_membrs * B16_years_liv AS total_years
FROM Farms

 * sqlite:///SQL_SAFI.sqlite
Done.

[(12,),
 (63,),
 (150,),
 (42,),
 (280,),
 (9,),
 (228,),
 (840,),
 (48,),
 (276,),
 (120,),
 (140,),
 (48,),
 (200,),
 (150,),
 (282,),
 (160,),
 (80,),
 (207,),
 (6,),
 (160,),
 (80,),
 (200,),
 (24,),
 (66,),
 (60,),
 (252,),
 (4,),
 (70,),
 (154,),
 (6,),
 (1311,),
 (272,),
 (144,),
 (225,),
 (138,),
 (24,),
 (190,),
 (132,),
 (207,),
 (154,),
 (64,),
 (203,),
 (12,),
 (63,),
 (420,),
 (4,),
 (406,),
 (156,),
 (42,),
 (150,),
 (165,),
 (128,),
 (105,),
 (207,),
 (276,),
 (108,),
 (495,),
 (120,),
 (120,),
 (140,),
 (25,),
 (40,),
 (6,),
 (160,),
 (370,),
 (155,),
 (416,),
 (48,),
 (200,),
 (84,),
 (72,),
 (125,),
 (160,),
 (205,),
 (16,),
 (395,),
 (130,),
 (350,),
 (275,),
 (147,),
 (168,),
 (215,),
 (240,),
 (343,),
 (95,),
 (147,),
 (24,),
 (144,),
 (144,),
 (63,),
 (816,),
 (110,),
 (280,),
 (50,),
 (12,),
 (576,),
 (180,),
 (288,),
 (60,),
 (728,),
 (240,),
 (330,),
 (48,),
 (132,),
 (286,),
 (125,),
 (70,),
 (42,),
 (64,),
 (330,),
 (125,),
 (280,),
 (35,),
 (240,),
 (56,),
 (96,),
 (91,),
 (126,),
 (176,),
 (192,),
 (300,),
 (252,),
 (240,),
 (50,),
 (180,),
 (21,),
 (70,),
 (20,),
 (119,),
 (160,),
 (24,),
 (130,),
 (45,),
 (189,),
 (44,),
 (160,),
 (16,),
 (325,),
 (125,),
 (256,),
 (66,),
 (35,),
 (96,),
 (258,),
 (69,),
 (294,),
 (294,),
 (125,),
 (110,),
 (55,),
 (270,),
 (90,),
 (225,),
 (48,),
 (35,),
 (150,),
 (15,),
 (175,),
 (100,),
 (160,),
 (270,),
 (80,),
 (8,),
 (322,),
 (90,),
 (160,),
 (25,),
 (36,),
 (36,),
 (72,),
 (216,),
 (100,),
 (9,),
 (287,),
 (180,),
 (300,),
 (150,),
 (38,),
 (100,),
 (333,),
 (168,),
 (360,),
 (45,),
 (306,),
 (102,),
 (162,),
 (154,),
 (60,),
 (88,),
 (180,),
 (80,),
 (102,),
 (48,),
 (138,),
 (75,),
 (60,),
 (150,),
 (135,),
 (180,),
 (57,),
 (38,),
 (108,),
 (52,),
 (210,),
 (140,),
 (65,),
 (16,),
 (112,),
 (42,),
 (72,),
 (100,),
 (44,),
 (225,),
 (36,),
 (90,),
 (60,),
 (42,),
 (150,),
 (175,),
 (120,),
 (200,),
 (240,),
 (420,),
 (20,),
 (150,),
 (20,),
 (100,),
 (16,),
 (102,),
 (30,),
 (160,),
 (111,),
 (320,),
 (120,),
 (108,),
 (24,),
 (200,),
 (210,),
 (180,),
 (36,),
 (100,),
 (105,),
 (330,),
 (30,),
 (15,),
 (105,),
 (99,),
 (162,),
 (35,),
 (27,),
 (160,),
 (300,),
 (21,),
 (80,),
 (90,),
 (30,),
 (160,),
 (114,),
 (300,),
 (480,),
 (90,),
 (120,),
 (88,),
 (78,),
 (18,),
 (34,),
 (20,),
 (78,),
 (50,),
 (50,),
 (225,),
 (180,),
 (150,),
 (200,),
 (255,),
 (400,),
 (66,),
 (392,),
 (420,),
 (248,),
 (100,),
 (100,),
 (296,),
 (69,),
 (138,),
 (140,),
 (150,),
 (21,),
 (7,),
 (360,),
 (28,),
 (441,),
 (104,),
 (108,),
 (76,),
 (24,),
 (12,),
 (20,),
 (4,),
 (77,),
 (15,),
 (70,),
 (100,),
 (138,),
 (52,),
 (153,),
 (300,),
 (85,),
 (400,),
 (90,),
 (25,),
 (56,),
 (25,),
 (15,),
 (80,),
 (16,),
 (60,),
 (30,),
 (15,),
 (60,),
 (162,),
 (34,),
 (54,),
 (105,),
 (180,),
 (280,),
 (45,),
 (160,),
 (125,),
 (312,),
 (200,),
 (216,),
 (306,),
 (104,),
 (120,),
 (280,),
 (270,),
 (153,),
 (108,),
 (120,),
 (400,),
 (50,),
 (220,),
 (30,),
 (55,),
 (35,),
 (160,),
 (340,),
 (70,)]

* También se pueden usar funciones predeterminadas que transforman las variables. Hay funciones para números, para texto, para fechas, etc.
* La lista de funciones que se puede usar en SQLite están se pueden consultar en https://sqlite.org/lang_corefunc.html
* Por ejemplo, la función ROUND() redondea los valores de una columna.

In [19]:
%%sql
SELECT ROUND(D02_total_plot * 3.14159, 1) AS D02_rounded
FROM Plots

 * sqlite:///SQL_SAFI.sqlite
Done.

[(1.6,),
 (1.6,),
 (3.1,),
 (4.7,),
 (3.1,),
 (3.1,),
 (3.1,),
 (3.1,),
 (3.1,),
 (4.7,),
 (1.6,),
 (4.7,),
 (6.3,),
 (3.1,),
 (3.1,),
 (3.1,),
 (3.1,),
 (6.3,),
 (4.7,),
 (3.1,),
 (3.1,),
 (9.4,),
 (4.7,),
 (3.1,),
 (3.1,),
 (11.0,),
 (4.7,),
 (37.7,),
 (3.1,),
 (3.1,),
 (3.1,),
 (3.1,),
 (3.1,),
 (3.1,),
 (47.1,),
 (3.1,),
 (1.6,),
 (11.0,),
 (3.1,),
 (0.9,),
 (0.9,),
 (3.1,),
 (1.6,),
 (17.3,),
 (3.1,),
 (4.7,),
 (1.6,),
 (3.1,),
 (3.1,),
 (3.1,),
 (3.1,),
 (9.4,),
 (31.4,),
 (3.1,),
 (6.3,),
 (6.3,),
 (1.6,),
 (18.8,),
 (3.1,),
 (3.1,),
 (15.7,),
 (3.1,),
 (12.6,),
 (3.1,),
 (3.1,),
 (1.6,),
 (1.6,),
 (4.7,),
 (0.6,),
 (1.6,),
 (15.7,),
 (3.1,),
 (31.4,),
 (9.4,),
 (1.6,),
 (3.1,),
 (1.6,),
 (0.9,),
 (0.6,),
 (1.6,),
 (12.6,),
 (6.3,),
 (3.1,),
 (4.7,),
 (3.1,),
 (12.6,),
 (3.1,),
 (6.3,),
 (3.1,),
 (3.1,),
 (1.6,),
 (3.1,),
 (22.0,),
 (12.6,),
 (6.3,),
 (15.7,),
 (1.6,),
 (1.6,),
 (15.7,),
 (3.1,),
 (3.1,),
 (3.1,),
 (4.7,),
 (4.7,),
 (3.1,),
 (3.1,),
 (6.3,),
 (6.3,),
 (3.1,),
 (3.1,),
 (1.6,),
 (7.9,),
 (1.6,),
 (11.0,),
 (9.4,),
 (1.6,),
 (3.1,),
 (6.3,),
 (15.7,),
 (3.1,),
 (3.1,),
 (3.1,),
 (28.3,),
 (17.3,),
 (3.1,),
 (3.1,),
 (1.6,),
 (9.4,),
 (1.6,),
 (31.4,),
 (1.6,),
 (3.1,),
 (6.3,),
 (3.1,),
 (3.1,),
 (6.3,),
 (18.8,),
 (1.6,),
 (1.6,),
 (4.7,),
 (6.3,),
 (1.6,),
 (6.3,),
 (3.1,),
 (25.1,),
 (18.8,),
 (4.7,),
 (4.7,),
 (6.3,),
 (9.4,),
 (25.1,),
 (44.0,),
 (0.6,),
 (12.6,),
 (12.6,),
 (3.1,),
 (25.1,),
 (37.7,),
 (6.3,),
 (3.1,),
 (6.3,),
 (3.1,),
 (12.6,),
 (3.1,),
 (6.3,),
 (7.9,),
 (15.1,),
 (18.8,),
 (3.1,),
 (9.4,),
 (15.7,),
 (6.3,),
 (9.4,),
 (6.3,),
 (6.3,),
 (1.6,),
 (3.1,),
 (18.8,),
 (4.7,),
 (20.4,),
 (9.4,),
 (6.3,),
 (3.1,),
 (18.8,),
 (6.3,),
 (9.4,),
 (1.6,),
 (6.3,),
 (9.4,),
 (4.7,),
 (1.6,),
 (9.4,),
 (1.6,),
 (18.8,),
 (18.8,),
 (18.8,),
 (9.4,),
 (9.4,),
 (9.4,),
 (15.7,),
 (1.6,),
 (3.1,),
 (4.7,),
 (9.4,),
 (4.7,),
 (9.4,),
 (12.6,),
 (9.4,),
 (39.3,),
 (3.1,),
 (15.7,),
 (6.3,),
 (37.7,),
 (3.1,),
 (9.4,),
 (15.7,),
 (6.3,),
 (1.6,),
 (3.1,),
 (9.4,),
 (3.1,),
 (69.1,),
 (50.3,),
 (12.6,),
 (3.1,),
 (6.3,),
 (15.7,),
 (1.6,),
 (18.8,),
 (18.8,),
 (15.7,),
 (9.4,),
 (3.1,),
 (3.1,),
 (1.6,),
 (9.4,),
 (3.1,),
 (1.6,),
 (11.0,),
 (6.3,),
 (1.6,),
 (25.1,),
 (9.4,),
 (6.3,),
 (6.3,),
 (4.7,),
 (15.7,),
 (37.7,),
 (18.8,),
 (3.1,),
 (12.6,),
 (12.6,),
 (17.3,),
 (6.3,),
 (1.6,),
 (7.9,),
 (1.6,),
 (6.3,),
 (6.3,),
 (4.7,),
 (3.1,),
 (1.6,),
 (1.6,),
 (3.1,),
 (6.3,),
 (4.7,),
 (1.6,),
 (22.0,),
 (9.4,),
 (3.1,),
 (6.3,),
 (3.1,),
 (22.0,),
 (9.4,),
 (9.4,),
 (3.1,),
 (15.7,),
 (1.6,),
 (1.6,),
 (1.6,),
 (14.1,),
 (3.1,),
 (9.4,),
 (7.9,),
 (1.6,),
 (4.7,),
 (15.7,),
 (1.6,),
 (15.7,),
 (3.1,),
 (1.6,),
 (14.1,),
 (0.6,),
 (0.3,),
 (0.9,),
 (0.9,),
 (0.9,),
 (3.1,),
 (3.1,),
 (3.1,),
 (1.6,),
 (3.1,),
 (1.6,),
 (1.6,),
 (3.1,),
 (7.9,),
 (7.9,),
 (6.3,),
 (3.1,),
 (3.1,),
 (1.6,),
 (0.6,),
 (9.4,),
 (3.1,),
 (3.1,),
 (1.6,),
 (3.1,),
 (4.7,),
 (1.6,),
 (3.1,),
 (4.7,),
 (1.6,),
 (1.6,),
 (1.6,),
 (1.6,),
 (3.1,),
 (6.3,),
 (1.6,),
 (4.7,),
 (12.6,),
 (9.4,),
 (1.6,),
 (4.7,),
 (9.4,),
 (7.9,),
 (3.1,),
 (6.3,),
 (3.1,),
 (4.7,),
 (3.1,),
 (1.6,),
 (3.1,),
 (3.1,),
 (1.6,),
 (3.1,),
 (1.6,),
 (1.6,),
 (6.3,),
 (3.1,),
 (3.1,),
 (3.1,),
 (1.6,),
 (6.3,),
 (3.1,),
 (3.1,),
 (1.6,),
 (1.6,),
 (3.1,),
 (4.7,),
 (3.1,),
 (3.1,),
 (1.6,),
 (1.6,),
 (6.3,),
 (3.1,),
 (1.6,),
 (3.1,),
 (3.1,),
 (9.4,),
 (3.1,),
 (1.6,),
 (3.1,),
 (4.7,),
 (1.6,),
 (3.1,),
 (1.6,),
 (9.4,),
 (3.1,),
 (1.6,),
 (3.1,),
 (1.6,),
 (9.4,),
 (12.6,),
 (1.6,),
 (6.3,),
 (3.1,),
 (3.1,),
 (1.6,),
 (3.1,),
 (4.7,),
 (7.9,),
 (4.7,),
 (9.4,),
 (3.1,),
 (3.1,),
 (3.1,),
 (1.6,),
 (1.6,),
 (1.6,),
 (7.9,),
 (3.1,),
 (3.1,),
 (6.3,),
 (1.6,),
 (3.1,),
 (6.3,),
 (4.7,),
 (1.6,),
 (3.1,),
 (1.6,),
 (12.6,),
 (3.1,),
 (9.4,),
 (3.1,),
 (0.8,),
 (6.3,),
 (0.8,),
 (1.6,),
 (3.1,),
 (9.4,),
 (4.7,),
 (3.1,),
 (1.6,),
 (1.6,),
 (4.7,),
 (1.6,),
 (4.7,),
 (1.6,),
 (3.1,),
 (3.1,),
 (3.1,),
 (3.1,),
 (1.6,),
 (6.3,),
 (3.1,),
 (3.1,),
 (4.7,),
 (1.6,),
 (4.7,),
 (3.1,),
 (9.4,),
 (3.1,),
 (4.7,),
 (4.7,),
 (4.7,),
 (3.1,),
 (1.6,),
 (3.1,),
 (3.1,),
 (6.3,),
 (1.6,),
 (1.6,),
 (1.6,),
 (4.7,),
 (1.6,),
 (6.3,),
 (1.6,),
 (7.9,),
 (4.7,),
 (1.6,),
 (1.6,),
 (3.1,),
 (1.6,),
 (1.6,),
 (4.7,),
 (6.3,),
 (4.7,),
 (0.8,),
 (0.8,),
 (3.1,),
 (4.7,),
 (0.8,),
 (6.3,),
 (1.6,),
 (3.1,),
 (0.8,),
 (15.7,),
 (0.8,),
 (6.3,),
 (3.1,),
 (4.7,),
 (1.6,),
 (3.1,),
 (3.1,),
 (0.6,),
 (1.6,),
 (0.8,),
 (1.6,),
 (1.6,),
 (4.7,),
 (1.6,),
 (3.1,),
 (7.9,),
 (1.6,),
 (1.6,),
 (1.6,),
 (3.1,),
 (1.6,),
 (6.3,),
 (3.1,),
 (1.6,),
 (1.6,),
 (4.7,),
 (1.6,),
 (9.4,),
 (3.1,),
 (3.1,),
 (1.6,),
 (4.7,),
 (9.4,),
 (3.1,),
 (1.6,),
 (3.1,),
 (1.6,),
 (3.1,),
 (4.7,),
 (4.7,),
 (3.1,),
 (1.6,),
 (3.1,),
 (3.1,),
 (1.6,),
 (6.3,),
 (1.6,),
 (3.1,),
 (1.6,),
 (9.4,),
 (1.6,),
 (6.3,),
 (4.7,),
 (3.1,),
 (1.6,),
 (0.9,),
 (6.3,),
 (6.3,),
 (4.7,),
 (3.1,),
 (1.6,),
 (6.3,),
 (4.7,),
 (1.6,),
 (6.3,),
 (3.1,),
 (1.6,),
 (9.4,),
 (4.7,),
 (4.7,),
 (4.7,),
 (3.1,),
 (1.6,),
 (6.3,),
 (3.1,),
 (3.1,),
 (3.1,),
 (4.7,),
 (3.1,),
 (0.8,),
 (0.8,),
 (3.1,),
 (3.1,),
 (0.8,),
 (3.1,),
 (3.1,),
 (3.1,),
 (6.3,),
 (3.1,),
 (3.1,),
 (6.3,),
 (1.6,),
 (1.6,),
 (9.4,),
 (6.3,),
 (6.3,),
 (6.3,),
 (1.6,),
 (3.1,),
 (1.6,),
 (6.3,),
 (3.1,),
 (3.1,),
 (6.3,),
 (6.3,),
 (14.1,),
 (3.1,),
 (4.7,),
 (1.6,),
 (1.6,),
 (4.7,),
 (1.6,),
 (3.1,),
 (1.6,),
 (3.1,),
 (6.3,),
 (1.6,),
 (3.1,),
 (3.1,),
 (1.6,),
 (3.1,),
 (4.7,),
 (6.3,),
 (1.6,),
 (3.1,),
 (6.3,),
 (3.1,),
 (31.4,),
 (6.3,),
 (3.1,),
 (1.6,),
 (1.6,),
 (1.6,),
 (14.1,),
 (6.3,),
 (3.1,),
 (1.6,),
 (9.4,),
 (6.3,),
 (1.6,),
 (1.6,),
 (9.4,),
 (15.7,),
 (1.6,),
 (0.8,),
 (1.6,),
 (1.6,),
 (0.8,),
 (6.3,),
 (4.7,),
 (3.1,),
 (1.6,),
 (0.8,),
 (1.6,),
 (3.1,),
 (4.7,),
 (9.4,),
 (3.1,),
 (1.6,),
 (2.4,),
 (1.6,),
 (0.9,),
 (9.4,),
 (1.6,),
 (9.4,),
 (3.1,),
 (1.6,),
 (3.1,),
 (3.1,),
 (1.6,),
 (7.9,),
 (1.6,),
 (6.3,),
 (3.1,),
 (9.4,),
 (3.1,),
 (3.1,),
 (7.9,),
 (3.1,),
 (3.1,),
 (6.3,),
 (3.1,),
 (0.8,),
 (3.1,),
 (4.7,),
 (0.8,),
 (3.1,),
 (3.1,),
 (4.7,),
 (1.6,),
 (3.1,),
 (6.3,),
 (6.3,),
 (3.1,),
 (1.6,),
 (7.9,),
 (7.9,),
 (3.1,),
 (1.6,),
 (3.1,),
 (1.6,),
 (1.6,),
 (1.6,),
 (3.1,),
 (0.8,),
 (6.3,),
 (3.1,),
 (1.6,),
 (1.6,),
 (1.6,),
 (0.8,),
 (1.6,),
 (4.7,),
 (1.6,),
 (3.1,),
 (3.1,),
 (1.6,),
 (1.6,),
 (3.1,),
 (1.6,),
 (1.6,),
 (1.6,),
 (9.4,),
 (1.6,),
 (1.6,),
 (4.7,),
 (3.1,),
 (1.6,),
 (1.6,),
 (1.6,),
 (1.6,),
 (6.3,),
 (4.7,),
 (1.6,),
 (1.6,),
 (3.1,),
 (1.6,),
 (3.1,),
 (1.6,),
 (3.1,),
 (3.1,),
 (6.3,),
 (3.1,),
 (3.1,),
 (3.1,),
 (3.1,),
 (4.7,),
 (1.6,),
 (1.6,),
 (4.7,),
 (4.7,),
 (3.1,),
 (6.3,),
 (1.6,),
 (1.3,),
 (3.1,),
 (6.3,),
 (3.1,),
 (1.6,),
 (1.6,),
 (3.1,),
 (6.3,),
 (1.6,),
 (4.7,),
 (3.1,),
 (6.3,),
 (6.3,),
 (1.6,),
 (1.6,),
 (1.6,),
 (1.6,),
 (14.1,),
 (1.6,),
 (1.6,),
 (9.4,),
 (1.6,),
 (4.7,),
 (1.6,),
 (1.6,),
 (1.6,),
 (1.6,),
 (1.6,),
 (1.6,),
 (1.6,),
 (1.6,),
 (3.1,),
 (1.6,),
 (6.3,),
 (3.1,),
 (3.1,),
 (6.3,),
 (1.6,),
 (3.1,),
 (23.6,),
 (1.6,),
 (1.6,),
 (3.1,),
 (1.6,),
 (7.9,),
 (3.1,),
 (3.1,),
 (6.3,),
 (6.3,),
 (6.3,),
 (9.4,),
 (3.1,),
 (4.7,),
 (6.3,),
 (3.1,),
 (7.9,),
 (9.4,),
 (6.3,),
 (1.6,),
 (1.6,),
 (3.1,),
 (1.6,),
 (4.7,),
 (1.6,),
 (3.1,),
 (6.3,),
 (1.6,),
 (9.4,),
 (6.3,),
 (11.0,),
 (4.7,),
 (3.1,),
 (4.7,),
 (3.1,),
 (3.1,),
 (6.3,),
 (1.6,),
 (6.3,),
 (3.1,),
 (3.1,),
 (1.6,),
 (6.3,),
 (1.6,),
 (6.3,),
 (3.1,),
 (1.6,),
 (3.1,),
 (1.6,),
 (6.3,),
 (3.1,),
 (6.3,),
 (4.7,),
 (1.6,),
 (9.4,),
 (1.6,),
 (1.6,),
 (1.6,),
 (3.1,),
 (0.6,),
 (4.7,),
 (3.1,),
 (6.3,),
 (4.7,),
 (3.1,),
 (1.6,),
 (1.6,),
 (6.3,),
 (6.3,),
 (1.6,),
 (6.3,),
 (1.6,),
 (6.3,),
 (1.6,)]

* La función SUBSTR() sirve para obtener un subconjunto de caracteres de un texto, dada una posición inicial y un número de caracteres.
* La expresión CAST(variable AS INTEGER) convierte una variable de texto en número entero.

In [20]:
%%sql
SELECT CAST(SUBSTR(A01_interview_date,7,4) AS INTEGER) AS year
FROM Farms
ORDER BY A01_interview_date

 * sqlite:///SQL_SAFI.sqlite
Done.

[(2017,),
 (2017,),
 (2017,),
 (2017,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2016,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2016,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2016,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,),
 (2017,)]

* La expresión $||$ concatena dos variables de texto.

In [21]:
%%sql
SELECT A12_agr_assoc || ' & ' || B11_remittance_money AS assoc_remittance
FROM Farms

 * sqlite:///SQL_SAFI.sqlite
Done.

[('no & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & yes',),
 ('yes & no',),
 ('yes & yes',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('yes & yes',),
 ('yes & no',),
 ('yes & yes',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & yes',),
 ('no & yes',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & yes',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & yes',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('yes & no',),
 ('no & yes',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & yes',),
 ('no & no',),
 ('yes & yes',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('yes & yes',),
 ('no & no',),
 ('no & yes',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & yes',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('yes & yes',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('yes & yes',),
 ('yes & yes',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('yes & yes',),
 ('yes & yes',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('yes & yes',),
 ('no & yes',),
 ('yes & no',),
 ('no & no',),
 ('yes & yes',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('no & yes',),
 ('yes & yes',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('no & yes',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('yes & no',),
 ('yes & yes',),
 ('yes & no',),
 ('yes & yes',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & yes',),
 ('yes & yes',),
 ('no & no',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('yes & yes',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('yes & yes',),
 ('yes & no',),
 ('yes & yes',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & no',),
 ('yes & yes',),
 ('yes & yes',),
 ('yes & no',),
 ('no & no',),
 ('yes & yes',),
 ('yes & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & no',),
 ('no & yes',),
 ('no & no',),
 ('no & no',),
 ('no & no',)]

* Cuando se requiere ordenar por una fecha, es necesario convertir el texto en fecha, de lo contrario tendremos un orden que no es el adecuado.
* Se puede usar la función DATE() para pasar de texto a fecha. Para ello es necesario especificar el texto en formato YYYY-MM-DD.
* En el siguiente ejemplo, la variable `A01_interview_date` está guardada como texto en formato dd/mm/yyy, por tanto, cuando intentamos ordenar por esta variable obtenemos un orden distinto al que esperaríamos.

In [22]:
%%sql
SELECT A01_interview_date
FROM Farms
ORDER BY A01_interview_date

 * sqlite:///SQL_SAFI.sqlite
Done.

[('01/07/2017',),
 ('01/07/2017',),
 ('01/07/2017',),
 ('01/07/2017',),
 ('01/12/2016',),
 ('01/12/2016',),
 ('01/12/2016',),
 ('01/12/2016',),
 ('01/12/2016',),
 ('01/12/2016',),
 ('01/12/2016',),
 ('01/12/2016',),
 ('01/12/2016',),
 ('02/07/2017',),
 ('02/07/2017',),
 ('02/07/2017',),
 ('02/07/2017',),
 ('02/07/2017',),
 ('02/07/2017',),
 ('03/05/2017',),
 ('03/05/2017',),
 ('03/05/2017',),
 ('03/06/2017',),
 ('03/06/2017',),
 ('03/06/2017',),
 ('03/06/2017',),
 ('03/06/2017',),
 ('03/06/2017',),
 ('03/06/2017',),
 ('03/06/2017',),
 ('03/06/2017',),
 ('04/05/2017',),
 ('04/05/2017',),
 ('04/05/2017',),
 ('04/06/2017',),
 ('04/06/2017',),
 ('04/06/2017',),
 ('04/06/2017',),
 ('04/07/2017',),
 ('04/07/2017',),
 ('05/07/2017',),
 ('05/07/2017',),
 ('05/07/2017',),
 ('06/07/2017',),
 ('06/07/2017',),
 ('07/07/2017',),
 ('07/07/2017',),
 ('07/07/2017',),
 ('07/07/2017',),
 ('07/07/2017',),
 ('07/07/2017',),
 ('07/07/2017',),
 ('07/07/2017',),
 ('09/07/2017',),
 ('09/07/2017',),
 ('09/07/2017',),
 ('09/07/2017',),
 ('09/07/2017',),
 ('10/07/2017',),
 ('10/07/2017',),
 ('10/07/2017',),
 ('10/07/2017',),
 ('10/07/2017',),
 ('10/07/2017',),
 ('10/07/2017',),
 ('10/07/2017',),
 ('10/07/2017',),
 ('10/07/2017',),
 ('11/04/2017',),
 ('11/05/2017',),
 ('11/05/2017',),
 ('11/05/2017',),
 ('11/05/2017',),
 ('12/04/2017',),
 ('13/07/2017',),
 ('13/07/2017',),
 ('13/07/2017',),
 ('13/07/2017',),
 ('13/07/2017',),
 ('14/07/2017',),
 ('14/07/2017',),
 ('14/07/2017',),
 ('14/07/2017',),
 ('14/07/2017',),
 ('16/07/2017',),
 ('16/07/2017',),
 ('16/07/2017',),
 ('16/07/2017',),
 ('16/07/2017',),
 ('16/07/2017',),
 ('16/07/2017',),
 ('16/07/2017',),
 ('16/07/2017',),
 ('16/07/2017',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/11/2016',),
 ('16/12/2016',),
 ('17/06/2017',),
 ('17/06/2017',),
 ('17/06/2017',),
 ('17/06/2017',),
 ('17/06/2017',),
 ('17/06/2017',),
 ('17/06/2017',),
 ('17/07/2017',),
 ('17/07/2017',),
 ('17/07/2017',),
 ('17/07/2017',),
 ('17/07/2017',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('17/11/2016',),
 ('18/05/2017',),
 ('18/05/2017',),
 ('18/05/2017',),
 ('18/05/2017',),
 ('18/05/2017',),
 ('18/07/2017',),
 ('18/07/2017',),
 ('18/07/2017',),
 ('18/07/2017',),
 ('18/07/2017',),
 ('18/11/2016',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('19/07/2017',),
 ('20/07/2017',),
 ('20/07/2017',),
 ('20/07/2017',),
 ('21/08/2017',),
 ('21/08/2017',),
 ('21/08/2017',),
 ('21/08/2017',),
 ('21/08/2017',),
 ('21/08/2017',),
 ('21/08/2017',),
 ('21/08/2017',),
 ('21/08/2017',),
 ('21/08/2017',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('21/11/2016',),
 ('22/06/2017',),
 ('22/06/2017',),
 ('22/06/2017',),
 ('22/06/2017',),
 ('22/06/2017',),
 ('22/06/2017',),
 ('22/08/2017',),
 ('22/08/2017',),
 ('22/08/2017',),
 ('22/08/2017',),
 ('22/08/2017',),
 ('22/08/2017',),
 ('22/08/2017',),
 ('22/08/2017',),
 ('22/08/2017',),
 ('23/06/2017',),
 ('23/06/2017',),
 ('23/06/2017',),
 ('23/06/2017',),
 ('23/06/2017',),
 ('23/06/2017',),
 ('23/06/2017',),
 ('23/06/2017',),
 ('23/06/2017',),
 ('23/11/2016',),
 ('24/06/2017',),
 ('24/06/2017',),
 ('24/06/2017',),
 ('24/06/2017',),
 ('24/06/2017',),
 ('24/06/2017',),
 ('24/07/2017',),
 ('24/07/2017',),
 ('24/07/2017',),
 ('24/07/2017',),
 ('24/07/2017',),
 ('24/07/2017',),
 ('24/07/2017',),
 ('24/07/2017',),
 ('24/07/2017',),
 ('24/07/2017',),
 ('24/11/2016',),
 ('24/11/2016',),
 ('24/11/2016',),
 ('24/11/2016',),
 ('25/06/2017',),
 ('25/06/2017',),
 ('25/06/2017',),
 ('25/06/2017',),
 ('25/06/2017',),
 ('25/06/2017',),
 ('25/06/2017',),
 ('25/06/2017',),
 ('25/06/2017',),
 ('25/06/2017',),
 ('25/06/2017',),
 ('25/06/2017',),
 ('25/07/2017',),
 ('25/11/2016',),
 ('25/11/2016',),
 ('25/11/2016',),
 ('25/11/2016',),
 ('25/11/2016',),
 ('26/04/2017',),
 ('26/04/2017',),
 ('26/04/2017',),
 ('26/06/2017',),
 ('26/06/2017',),
 ('26/06/2017',),
 ('26/06/2017',),
 ('26/06/2017',),
 ('26/06/2017',),
 ('26/06/2017',),
 ('26/06/2017',),
 ('26/06/2017',),
 ('26/06/2017',),
 ('27/04/2017',),
 ('27/04/2017',),
 ('27/04/2017',),
 ('27/04/2017',),
 ('27/04/2017',),
 ('27/06/2017',),
 ('27/06/2017',),
 ('27/06/2017',),
 ('27/06/2017',),
 ('27/06/2017',),
 ('27/06/2017',),
 ('27/06/2017',),
 ('27/06/2017',),
 ('27/06/2017',),
 ('27/06/2017',),
 ('28/04/2017',),
 ('28/04/2017',),
 ('28/04/2017',),
 ('28/04/2017',),
 ('28/04/2017',),
 ('28/06/2017',),
 ('28/06/2017',),
 ('28/06/2017',),
 ('28/06/2017',),
 ('28/06/2017',),
 ('28/06/2017',),
 ('28/06/2017',),
 ('28/06/2017',),
 ('28/06/2017',),
 ('28/06/2017',),
 ('28/11/2016',),
 ('28/11/2016',),
 ('28/11/2016',),
 ('28/11/2016',),
 ('28/11/2016',),
 ('28/11/2016',),
 ('29/06/2017',),
 ('29/06/2017',),
 ('29/06/2017',),
 ('29/06/2017',),
 ('29/06/2017',),
 ('29/06/2017',),
 ('29/06/2017',),
 ('29/06/2017',),
 ('29/06/2017',),
 ('29/06/2017',),
 ('30/04/2017',),
 ('30/06/2017',),
 ('30/06/2017',),
 ('30/06/2017',),
 ('30/06/2017',),
 ('30/06/2017',),
 ('30/06/2017',),
 ('30/06/2017',),
 ('30/06/2017',),
 ('30/06/2017',),
 ('30/06/2017',)]

* En este caso lo que deberíamos hacer es reformar el texto para que quede en formato yyyy-mm-dd y usar la función DATE() para convertir en fecha.

In [23]:
%%sql
SELECT A01_interview_date,
       date(
       substr(A01_interview_date,7,4) || '-' ||
       substr(A01_interview_date,4,2) || '-' ||
       substr(A01_interview_date,1,2)
       ) AS converted_date
FROM Farms
ORDER BY converted_date

 * sqlite:///SQL_SAFI.sqlite
Done.

[('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('16/11/2016', '2016-11-16'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('17/11/2016', '2016-11-17'),
 ('18/11/2016', '2016-11-18'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('21/11/2016', '2016-11-21'),
 ('23/11/2016', '2016-11-23'),
 ('24/11/2016', '2016-11-24'),
 ('24/11/2016', '2016-11-24'),
 ('24/11/2016', '2016-11-24'),
 ('24/11/2016', '2016-11-24'),
 ('25/11/2016', '2016-11-25'),
 ('25/11/2016', '2016-11-25'),
 ('25/11/2016', '2016-11-25'),
 ('25/11/2016', '2016-11-25'),
 ('25/11/2016', '2016-11-25'),
 ('28/11/2016', '2016-11-28'),
 ('28/11/2016', '2016-11-28'),
 ('28/11/2016', '2016-11-28'),
 ('28/11/2016', '2016-11-28'),
 ('28/11/2016', '2016-11-28'),
 ('28/11/2016', '2016-11-28'),
 ('01/12/2016', '2016-12-01'),
 ('01/12/2016', '2016-12-01'),
 ('01/12/2016', '2016-12-01'),
 ('01/12/2016', '2016-12-01'),
 ('01/12/2016', '2016-12-01'),
 ('01/12/2016', '2016-12-01'),
 ('01/12/2016', '2016-12-01'),
 ('01/12/2016', '2016-12-01'),
 ('01/12/2016', '2016-12-01'),
 ('16/12/2016', '2016-12-16'),
 ('11/04/2017', '2017-04-11'),
 ('12/04/2017', '2017-04-12'),
 ('26/04/2017', '2017-04-26'),
 ('26/04/2017', '2017-04-26'),
 ('26/04/2017', '2017-04-26'),
 ('27/04/2017', '2017-04-27'),
 ('27/04/2017', '2017-04-27'),
 ('27/04/2017', '2017-04-27'),
 ('27/04/2017', '2017-04-27'),
 ('27/04/2017', '2017-04-27'),
 ('28/04/2017', '2017-04-28'),
 ('28/04/2017', '2017-04-28'),
 ('28/04/2017', '2017-04-28'),
 ('28/04/2017', '2017-04-28'),
 ('28/04/2017', '2017-04-28'),
 ('30/04/2017', '2017-04-30'),
 ('03/05/2017', '2017-05-03'),
 ('03/05/2017', '2017-05-03'),
 ('03/05/2017', '2017-05-03'),
 ('04/05/2017', '2017-05-04'),
 ('04/05/2017', '2017-05-04'),
 ('04/05/2017', '2017-05-04'),
 ('11/05/2017', '2017-05-11'),
 ('11/05/2017', '2017-05-11'),
 ('11/05/2017', '2017-05-11'),
 ('11/05/2017', '2017-05-11'),
 ('18/05/2017', '2017-05-18'),
 ('18/05/2017', '2017-05-18'),
 ('18/05/2017', '2017-05-18'),
 ('18/05/2017', '2017-05-18'),
 ('18/05/2017', '2017-05-18'),
 ('03/06/2017', '2017-06-03'),
 ('03/06/2017', '2017-06-03'),
 ('03/06/2017', '2017-06-03'),
 ('03/06/2017', '2017-06-03'),
 ('03/06/2017', '2017-06-03'),
 ('03/06/2017', '2017-06-03'),
 ('03/06/2017', '2017-06-03'),
 ('03/06/2017', '2017-06-03'),
 ('03/06/2017', '2017-06-03'),
 ('04/06/2017', '2017-06-04'),
 ('04/06/2017', '2017-06-04'),
 ('04/06/2017', '2017-06-04'),
 ('04/06/2017', '2017-06-04'),
 ('17/06/2017', '2017-06-17'),
 ('17/06/2017', '2017-06-17'),
 ('17/06/2017', '2017-06-17'),
 ('17/06/2017', '2017-06-17'),
 ('17/06/2017', '2017-06-17'),
 ('17/06/2017', '2017-06-17'),
 ('17/06/2017', '2017-06-17'),
 ('22/06/2017', '2017-06-22'),
 ('22/06/2017', '2017-06-22'),
 ('22/06/2017', '2017-06-22'),
 ('22/06/2017', '2017-06-22'),
 ('22/06/2017', '2017-06-22'),
 ('22/06/2017', '2017-06-22'),
 ('23/06/2017', '2017-06-23'),
 ('23/06/2017', '2017-06-23'),
 ('23/06/2017', '2017-06-23'),
 ('23/06/2017', '2017-06-23'),
 ('23/06/2017', '2017-06-23'),
 ('23/06/2017', '2017-06-23'),
 ('23/06/2017', '2017-06-23'),
 ('23/06/2017', '2017-06-23'),
 ('23/06/2017', '2017-06-23'),
 ('24/06/2017', '2017-06-24'),
 ('24/06/2017', '2017-06-24'),
 ('24/06/2017', '2017-06-24'),
 ('24/06/2017', '2017-06-24'),
 ('24/06/2017', '2017-06-24'),
 ('24/06/2017', '2017-06-24'),
 ('25/06/2017', '2017-06-25'),
 ('25/06/2017', '2017-06-25'),
 ('25/06/2017', '2017-06-25'),
 ('25/06/2017', '2017-06-25'),
 ('25/06/2017', '2017-06-25'),
 ('25/06/2017', '2017-06-25'),
 ('25/06/2017', '2017-06-25'),
 ('25/06/2017', '2017-06-25'),
 ('25/06/2017', '2017-06-25'),
 ('25/06/2017', '2017-06-25'),
 ('25/06/2017', '2017-06-25'),
 ('25/06/2017', '2017-06-25'),
 ('26/06/2017', '2017-06-26'),
 ('26/06/2017', '2017-06-26'),
 ('26/06/2017', '2017-06-26'),
 ('26/06/2017', '2017-06-26'),
 ('26/06/2017', '2017-06-26'),
 ('26/06/2017', '2017-06-26'),
 ('26/06/2017', '2017-06-26'),
 ('26/06/2017', '2017-06-26'),
 ('26/06/2017', '2017-06-26'),
 ('26/06/2017', '2017-06-26'),
 ('27/06/2017', '2017-06-27'),
 ('27/06/2017', '2017-06-27'),
 ('27/06/2017', '2017-06-27'),
 ('27/06/2017', '2017-06-27'),
 ('27/06/2017', '2017-06-27'),
 ('27/06/2017', '2017-06-27'),
 ('27/06/2017', '2017-06-27'),
 ('27/06/2017', '2017-06-27'),
 ('27/06/2017', '2017-06-27'),
 ('27/06/2017', '2017-06-27'),
 ('28/06/2017', '2017-06-28'),
 ('28/06/2017', '2017-06-28'),
 ('28/06/2017', '2017-06-28'),
 ('28/06/2017', '2017-06-28'),
 ('28/06/2017', '2017-06-28'),
 ('28/06/2017', '2017-06-28'),
 ('28/06/2017', '2017-06-28'),
 ('28/06/2017', '2017-06-28'),
 ('28/06/2017', '2017-06-28'),
 ('28/06/2017', '2017-06-28'),
 ('29/06/2017', '2017-06-29'),
 ('29/06/2017', '2017-06-29'),
 ('29/06/2017', '2017-06-29'),
 ('29/06/2017', '2017-06-29'),
 ('29/06/2017', '2017-06-29'),
 ('29/06/2017', '2017-06-29'),
 ('29/06/2017', '2017-06-29'),
 ('29/06/2017', '2017-06-29'),
 ('29/06/2017', '2017-06-29'),
 ('29/06/2017', '2017-06-29'),
 ('30/06/2017', '2017-06-30'),
 ('30/06/2017', '2017-06-30'),
 ('30/06/2017', '2017-06-30'),
 ('30/06/2017', '2017-06-30'),
 ('30/06/2017', '2017-06-30'),
 ('30/06/2017', '2017-06-30'),
 ('30/06/2017', '2017-06-30'),
 ('30/06/2017', '2017-06-30'),
 ('30/06/2017', '2017-06-30'),
 ('30/06/2017', '2017-06-30'),
 ('01/07/2017', '2017-07-01'),
 ('01/07/2017', '2017-07-01'),
 ('01/07/2017', '2017-07-01'),
 ('01/07/2017', '2017-07-01'),
 ('02/07/2017', '2017-07-02'),
 ('02/07/2017', '2017-07-02'),
 ('02/07/2017', '2017-07-02'),
 ('02/07/2017', '2017-07-02'),
 ('02/07/2017', '2017-07-02'),
 ('02/07/2017', '2017-07-02'),
 ('04/07/2017', '2017-07-04'),
 ('04/07/2017', '2017-07-04'),
 ('05/07/2017', '2017-07-05'),
 ('05/07/2017', '2017-07-05'),
 ('05/07/2017', '2017-07-05'),
 ('06/07/2017', '2017-07-06'),
 ('06/07/2017', '2017-07-06'),
 ('07/07/2017', '2017-07-07'),
 ('07/07/2017', '2017-07-07'),
 ('07/07/2017', '2017-07-07'),
 ('07/07/2017', '2017-07-07'),
 ('07/07/2017', '2017-07-07'),
 ('07/07/2017', '2017-07-07'),
 ('07/07/2017', '2017-07-07'),
 ('07/07/2017', '2017-07-07'),
 ('09/07/2017', '2017-07-09'),
 ('09/07/2017', '2017-07-09'),
 ('09/07/2017', '2017-07-09'),
 ('09/07/2017', '2017-07-09'),
 ('09/07/2017', '2017-07-09'),
 ('10/07/2017', '2017-07-10'),
 ('10/07/2017', '2017-07-10'),
 ('10/07/2017', '2017-07-10'),
 ('10/07/2017', '2017-07-10'),
 ('10/07/2017', '2017-07-10'),
 ('10/07/2017', '2017-07-10'),
 ('10/07/2017', '2017-07-10'),
 ('10/07/2017', '2017-07-10'),
 ('10/07/2017', '2017-07-10'),
 ('10/07/2017', '2017-07-10'),
 ('13/07/2017', '2017-07-13'),
 ('13/07/2017', '2017-07-13'),
 ('13/07/2017', '2017-07-13'),
 ('13/07/2017', '2017-07-13'),
 ('13/07/2017', '2017-07-13'),
 ('14/07/2017', '2017-07-14'),
 ('14/07/2017', '2017-07-14'),
 ('14/07/2017', '2017-07-14'),
 ('14/07/2017', '2017-07-14'),
 ('14/07/2017', '2017-07-14'),
 ('16/07/2017', '2017-07-16'),
 ('16/07/2017', '2017-07-16'),
 ('16/07/2017', '2017-07-16'),
 ('16/07/2017', '2017-07-16'),
 ('16/07/2017', '2017-07-16'),
 ('16/07/2017', '2017-07-16'),
 ('16/07/2017', '2017-07-16'),
 ('16/07/2017', '2017-07-16'),
 ('16/07/2017', '2017-07-16'),
 ('16/07/2017', '2017-07-16'),
 ('17/07/2017', '2017-07-17'),
 ('17/07/2017', '2017-07-17'),
 ('17/07/2017', '2017-07-17'),
 ('17/07/2017', '2017-07-17'),
 ('17/07/2017', '2017-07-17'),
 ('18/07/2017', '2017-07-18'),
 ('18/07/2017', '2017-07-18'),
 ('18/07/2017', '2017-07-18'),
 ('18/07/2017', '2017-07-18'),
 ('18/07/2017', '2017-07-18'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('19/07/2017', '2017-07-19'),
 ('20/07/2017', '2017-07-20'),
 ('20/07/2017', '2017-07-20'),
 ('20/07/2017', '2017-07-20'),
 ('24/07/2017', '2017-07-24'),
 ('24/07/2017', '2017-07-24'),
 ('24/07/2017', '2017-07-24'),
 ('24/07/2017', '2017-07-24'),
 ('24/07/2017', '2017-07-24'),
 ('24/07/2017', '2017-07-24'),
 ('24/07/2017', '2017-07-24'),
 ('24/07/2017', '2017-07-24'),
 ('24/07/2017', '2017-07-24'),
 ('24/07/2017', '2017-07-24'),
 ('25/07/2017', '2017-07-25'),
 ('21/08/2017', '2017-08-21'),
 ('21/08/2017', '2017-08-21'),
 ('21/08/2017', '2017-08-21'),
 ('21/08/2017', '2017-08-21'),
 ('21/08/2017', '2017-08-21'),
 ('21/08/2017', '2017-08-21'),
 ('21/08/2017', '2017-08-21'),
 ('21/08/2017', '2017-08-21'),
 ('21/08/2017', '2017-08-21'),
 ('21/08/2017', '2017-08-21'),
 ('22/08/2017', '2017-08-22'),
 ('22/08/2017', '2017-08-22'),
 ('22/08/2017', '2017-08-22'),
 ('22/08/2017', '2017-08-22'),
 ('22/08/2017', '2017-08-22'),
 ('22/08/2017', '2017-08-22'),
 ('22/08/2017', '2017-08-22'),
 ('22/08/2017', '2017-08-22'),
 ('22/08/2017', '2017-08-22')]

## Práctica
* En la tabla `Farms`, usando la columna `A01_interview_date`, crea tres nuevas columnas que correspondan al año, mes y día. Luega ordena de forma descendente usando estas tres variables.

## CASE WHEN

* Con la expresión CASE ... WHEN ... podemos cambiar los valores de una variable por otros al momento de presentar la información

In [24]:
%%sql
SELECT Id, B16_years_liv,
    CASE country
        WHEN 'Moz' THEN 'Mozambique'
        WHEN 'Taz' THEN 'Tanzania'
    ELSE 'Unknown Country'
       END AS country_fullname
FROM Farms

 * sqlite:///SQL_SAFI.sqlite
Done.

[(1, 4, 'Mozambique'),
 (2, 9, 'Mozambique'),
 (3, 15, 'Mozambique'),
 (4, 6, 'Mozambique'),
 (5, 40, 'Mozambique'),
 (6, 3, 'Mozambique'),
 (7, 38, 'Mozambique'),
 (8, 70, 'Mozambique'),
 (9, 6, 'Mozambique'),
 (10, 23, 'Mozambique'),
 (11, 20, 'Mozambique'),
 (12, 20, 'Mozambique'),
 (13, 8, 'Mozambique'),
 (14, 20, 'Mozambique'),
 (15, 30, 'Mozambique'),
 (16, 47, 'Mozambique'),
 (17, 20, 'Mozambique'),
 (18, 20, 'Mozambique'),
 (19, 23, 'Mozambique'),
 (20, 1, 'Mozambique'),
 (21, 20, 'Mozambique'),
 (22, 20, 'Mozambique'),
 (23, 20, 'Mozambique'),
 (24, 4, 'Mozambique'),
 (25, 6, 'Mozambique'),
 (26, 20, 'Mozambique'),
 (27, 36, 'Mozambique'),
 (28, 2, 'Mozambique'),
 (29, 10, 'Mozambique'),
 (30, 22, 'Mozambique'),
 (31, 2, 'Mozambique'),
 (32, 69, 'Mozambique'),
 (33, 34, 'Mozambique'),
 (34, 18, 'Mozambique'),
 (35, 45, 'Mozambique'),
 (36, 23, 'Mozambique'),
 (37, 8, 'Mozambique'),
 (38, 19, 'Mozambique'),
 (39, 22, 'Mozambique'),
 (40, 23, 'Mozambique'),
 (41, 22, 'Mozambique'),
 (42, 8, 'Mozambique'),
 (43, 29, 'Mozambique'),
 (44, 6, 'Mozambique'),
 (45, 7, 'Mozambique'),
 (46, 42, 'Mozambique'),
 (47, 2, 'Mozambique'),
 (48, 58, 'Mozambique'),
 (49, 26, 'Mozambique'),
 (50, 7, 'Mozambique'),
 (51, 30, 'Mozambique'),
 (52, 15, 'Mozambique'),
 (53, 16, 'Mozambique'),
 (54, 15, 'Mozambique'),
 (55, 23, 'Mozambique'),
 (56, 23, 'Mozambique'),
 (57, 27, 'Mozambique'),
 (58, 45, 'Mozambique'),
 (59, 60, 'Mozambique'),
 (60, 15, 'Mozambique'),
 (61, 14, 'Mozambique'),
 (62, 5, 'Mozambique'),
 (63, 10, 'Mozambique'),
 (64, 1, 'Mozambique'),
 (65, 20, 'Mozambique'),
 (66, 37, 'Mozambique'),
 (67, 31, 'Mozambique'),
 (68, 52, 'Mozambique'),
 (69, 12, 'Mozambique'),
 (70, 25, 'Mozambique'),
 (71, 14, 'Mozambique'),
 (72, 18, 'Mozambique'),
 (73, 25, 'Mozambique'),
 (74, 16, 'Mozambique'),
 (75, 41, 'Mozambique'),
 (76, 4, 'Mozambique'),
 (77, 79, 'Mozambique'),
 (78, 13, 'Mozambique'),
 (79, 50, 'Mozambique'),
 (80, 25, 'Mozambique'),
 (81, 21, 'Mozambique'),
 (82, 24, 'Mozambique'),
 (83, 43, 'Mozambique'),
 (84, 48, 'Mozambique'),
 (85, 49, 'Mozambique'),
 (86, 19, 'Mozambique'),
 (87, 49, 'Mozambique'),
 (88, 6, 'Mozambique'),
 (89, 12, 'Mozambique'),
 (90, 24, 'Mozambique'),
 (91, 9, 'Mozambique'),
 (92, 48, 'Mozambique'),
 (93, 22, 'Mozambique'),
 (94, 40, 'Mozambique'),
 (95, 10, 'Mozambique'),
 (96, 4, 'Mozambique'),
 (97, 96, 'Mozambique'),
 (98, 15, 'Mozambique'),
 (99, 48, 'Mozambique'),
 (100, 12, 'Mozambique'),
 (101, 52, 'Mozambique'),
 (102, 40, 'Mozambique'),
 (103, 22, 'Mozambique'),
 (104, 12, 'Mozambique'),
 (105, 22, 'Mozambique'),
 (106, 26, 'Mozambique'),
 (107, 25, 'Mozambique'),
 (108, 14, 'Mozambique'),
 (109, 14, 'Mozambique'),
 (110, 16, 'Mozambique'),
 (111, 22, 'Mozambique'),
 (112, 25, 'Mozambique'),
 (113, 28, 'Mozambique'),
 (114, 5, 'Mozambique'),
 (115, 24, 'Mozambique'),
 (116, 8, 'Mozambique'),
 (117, 24, 'Mozambique'),
 (118, 13, 'Mozambique'),
 (119, 14, 'Mozambique'),
 (120, 16, 'Mozambique'),
 (121, 24, 'Mozambique'),
 (122, 25, 'Mozambique'),
 (123, 36, 'Mozambique'),
 (124, 16, 'Mozambique'),
 (125, 5, 'Mozambique'),
 (126, 20, 'Mozambique'),
 (127, 7, 'Mozambique'),
 (128, 10, 'Mozambique'),
 (129, 5, 'Mozambique'),
 (130, 17, 'Mozambique'),
 (131, 20, 'Mozambique'),
 (132, 4, 'Mozambique'),
 (133, 65, 'Mozambique'),
 (134, 9, 'Mozambique'),
 (135, 27, 'Mozambique'),
 (136, 22, 'Mozambique'),
 (137, 20, 'Mozambique'),
 (138, 4, 'Mozambique'),
 (139, 65, 'Mozambique'),
 (140, 25, 'Mozambique'),
 (141, 32, 'Mozambique'),
 (142, 11, 'Mozambique'),
 (143, 7, 'Mozambique'),
 (144, 12, 'Mozambique'),
 (145, 43, 'Mozambique'),
 (146, 23, 'Mozambique'),
 (147, 42, 'Mozambique'),
 (148, 42, 'Mozambique'),
 (149, 25, 'Mozambique'),
 (150, 22, 'Mozambique'),
 (151, 11, 'Mozambique'),
 (152, 45, 'Mozambique'),
 (153, 45, 'Mozambique'),
 (154, 45, 'Mozambique'),
 (155, 8, 'Mozambique'),
 (156, 7, 'Mozambique'),
 (157, 50, 'Mozambique'),
 (158, 3, 'Mozambique'),
 (159, 35, 'Mozambique'),
 (160, 10, 'Mozambique'),
 (161, 40, 'Mozambique'),
 (162, 45, 'Mozambique'),
 (163, 10, 'Mozambique'),
 (164, 1, 'Mozambique'),
 (165, 46, 'Mozambique'),
 (166, 30, 'Mozambique'),
 (167, 40, 'Mozambique'),
 (168, 5, 'Mozambique'),
 (169, 36, 'Mozambique'),
 (170, 6, 'Mozambique'),
 (171, 8, 'Mozambique'),
 (172, 24, 'Mozambique'),
 (173, 10, 'Mozambique'),
 (174, 3, 'Mozambique'),
 (175, 41, 'Mozambique'),
 (176, 45, 'Mozambique'),
 (177, 50, 'Mozambique'),
 (178, 50, 'Mozambique'),
 (179, 38, 'Mozambique'),
 (180, 10, 'Mozambique'),
 (181, 37, 'Mozambique'),
 (182, 21, 'Mozambique'),
 (183, 40, 'Mozambique'),
 (184, 9, 'Mozambique'),
 (185, 34, 'Mozambique'),
 (186, 17, 'Mozambique'),
 (187, 18, 'Mozambique'),
 (188, 14, 'Mozambique'),
 (189, 20, 'Mozambique'),
 (190, 22, 'Mozambique'),
 (191, 45, 'Mozambique'),
 (192, 16, 'Mozambique'),
 (193, 17, 'Mozambique'),
 (194, 6, 'Mozambique'),
 (195, 23, 'Mozambique'),
 (196, 15, 'Mozambique'),
 (197, 15, 'Mozambique'),
 (198, 50, 'Mozambique'),
 (199, 45, 'Mozambique'),
 (200, 30, 'Mozambique'),
 (201, 19, 'Mozambique'),
 (202, 19, 'Mozambique'),
 (203, 18, 'Mozambique'),
 (204, 13, 'Mozambique'),
 (205, 30, 'Mozambique'),
 (206, 20, 'Mozambique'),
 (207, 13, 'Mozambique'),
 (208, 4, 'Mozambique'),
 (209, 28, 'Mozambique'),
 (210, 14, 'Mozambique'),
 (211, 12, 'Mozambique'),
 (212, 20, 'Mozambique'),
 (213, 22, 'Mozambique'),
 (214, 25, 'Mozambique'),
 (215, 12, 'Mozambique'),
 (216, 15, 'Mozambique'),
 (217, 10, 'Mozambique'),
 (218, 7, 'Mozambique'),
 (219, 25, 'Mozambique'),
 (220, 35, 'Mozambique'),
 (221, 30, 'Mozambique'),
 (222, 20, 'Mozambique'),
 (223, 40, 'Mozambique'),
 (224, 70, 'Mozambique'),
 (225, 5, 'Mozambique'),
 (226, 15, 'Mozambique'),
 (227, 5, 'Mozambique'),
 (228, 20, 'Mozambique'),
 (229, 4, 'Mozambique'),
 (230, 17, 'Mozambique'),
 (231, 10, 'Mozambique'),
 (232, 40, 'Mozambique'),
 (233, 37, 'Mozambique'),
 (234, 40, 'Mozambique'),
 (235, 30, 'Mozambique'),
 (236, 27, 'Mozambique'),
 (237, 3, 'Mozambique'),
 (238, 50, 'Mozambique'),
 (239, 30, 'Mozambique'),
 (240, 30, 'Mozambique'),
 (241, 6, 'Mozambique'),
 (242, 20, 'Mozambique'),
 (243, 35, 'Mozambique'),
 (244, 33, 'Mozambique'),
 (245, 5, 'Mozambique'),
 (246, 3, 'Mozambique'),
 (247, 15, 'Mozambique'),
 (248, 9, 'Mozambique'),
 (249, 27, 'Mozambique'),
 (250, 5, 'Mozambique'),
 (251, 3, 'Mozambique'),
 (252, 20, 'Mozambique'),
 (253, 20, 'Mozambique'),
 (254, 7, 'Mozambique'),
 (255, 40, 'Mozambique'),
 (256, 15, 'Mozambique'),
 (257, 6, 'Mozambique'),
 (258, 40, 'Mozambique'),
 (259, 19, 'Mozambique'),
 (260, 30, 'Mozambique'),
 (261, 60, 'Mozambique'),
 (262, 30, 'Mozambique'),
 (263, 20, 'Mozambique'),
 (264, 11, 'Mozambique'),
 (265, 26, 'Mozambique'),
 (266, 2, 'Mozambique'),
 (267, 17, 'Mozambique'),
 (268, 5, 'Mozambique'),
 (269, 13, 'Mozambique'),
 (270, 10, 'Mozambique'),
 (271, 10, 'Mozambique'),
 (272, 25, 'Mozambique'),
 (273, 45, 'Mozambique'),
 (274, 15, 'Mozambique'),
 (275, 40, 'Mozambique'),
 (276, 51, 'Mozambique'),
 (277, 40, 'Mozambique'),
 (278, 22, 'Mozambique'),
 (279, 49, 'Mozambique'),
 (280, 60, 'Mozambique'),
 (281, 31, 'Mozambique'),
 (282, 20, 'Mozambique'),
 (283, 20, 'Mozambique'),
 (284, 37, 'Mozambique'),
 (285, 23, 'Mozambique'),
 (286, 23, 'Mozambique'),
 (287, 28, 'Mozambique'),
 (288, 30, 'Mozambique'),
 (289, 21, 'Mozambique'),
 (290, 1, 'Mozambique'),
 (291, 45, 'Mozambique'),
 (292, 7, 'Mozambique'),
 (293, 49, 'Mozambique'),
 (294, 13, 'Mozambique'),
 (295, 12, 'Mozambique'),
 (296, 19, 'Mozambique'),
 (297, 4, 'Mozambique'),
 (298, 2, 'Mozambique'),
 (299, 4, 'Mozambique'),
 (300, 1, 'Mozambique'),
 (301, 11, 'Mozambique'),
 (302, 3, 'Mozambique'),
 (303, 10, 'Mozambique'),
 (304, 20, 'Mozambique'),
 (305, 23, 'Mozambique'),
 (306, 13, 'Mozambique'),
 (307, 17, 'Mozambique'),
 (308, 30, 'Mozambique'),
 (309, 17, 'Mozambique'),
 (310, 40, 'Mozambique'),
 (311, 15, 'Mozambique'),
 (312, 5, 'Mozambique'),
 (313, 7, 'Mozambique'),
 (314, 5, 'Mozambique'),
 (315, 3, 'Mozambique'),
 (316, 10, 'Mozambique'),
 (317, 4, 'Mozambique'),
 (318, 10, 'Mozambique'),
 (319, 5, 'Mozambique'),
 (320, 5, 'Mozambique'),
 (321, 60, 'Mozambique'),
 (322, 27, 'Mozambique'),
 (323, 17, 'Mozambique'),
 (324, 9, 'Mozambique'),
 (325, 21, 'Mozambique'),
 (326, 15, 'Mozambique'),
 (327, 28, 'Mozambique'),
 (328, 15, 'Mozambique'),
 (329, 32, 'Mozambique'),
 (330, 25, 'Mozambique'),
 (331, 39, 'Mozambique'),
 (332, 50, 'Mozambique'),
 (333, 18, 'Mozambique'),
 (334, 51, 'Mozambique'),
 (335, 13, 'Mozambique'),
 (336, 40, 'Mozambique'),
 (337, 40, 'Mozambique'),
 (338, 30, 'Mozambique'),
 (339, 17, 'Mozambique'),
 (340, 18, 'Mozambique'),
 (341, 40, 'Mozambique'),
 (342, 40, 'Mozambique'),
 (343, 25, 'Mozambique'),
 (344, 22, 'Mozambique'),
 (345, 15, 'Mozambique'),
 (346, 55, 'Mozambique'),
 (347, 35, 'Mozambique'),
 (348, 20, 'Mozambique'),
 (349, 68, 'Mozambique'),
 (350, 10, 'Mozambique')]

In [25]:
%%sql
SELECT Id, A11_years_farm,
       CASE
            WHEN  A11_years_farm BETWEEN 1 AND 30 THEN '1-30'
            WHEN  A11_years_farm BETWEEN 31 AND 60 THEN '31-60'
        ELSE '> 60'       
        END AS A11_years_farm_range
FROM Farms

 * sqlite:///SQL_SAFI.sqlite
Done.

[(1, 11, '1-30'),
 (2, 2, '1-30'),
 (3, 40, '31-60'),
 (4, 6, '1-30'),
 (5, 18, '1-30'),
 (6, 3, '1-30'),
 (7, 20, '1-30'),
 (8, 16, '1-30'),
 (9, 16, '1-30'),
 (10, 22, '1-30'),
 (11, 6, '1-30'),
 (12, 20, '1-30'),
 (13, 7, '1-30'),
 (14, 20, '1-30'),
 (15, 30, '1-30'),
 (16, 24, '1-30'),
 (17, 10, '1-30'),
 (18, 6, '1-30'),
 (19, 20, '1-30'),
 (20, 24, '1-30'),
 (21, 20, '1-30'),
 (22, 14, '1-30'),
 (23, 12, '1-30'),
 (24, 8, '1-30'),
 (25, 10, '1-30'),
 (26, 2, '1-30'),
 (27, 36, '31-60'),
 (28, 2, '1-30'),
 (29, 10, '1-30'),
 (30, 22, '1-30'),
 (31, 15, '1-30'),
 (32, 53, '31-60'),
 (33, 20, '1-30'),
 (34, 18, '1-30'),
 (35, 45, '31-60'),
 (36, 23, '1-30'),
 (37, 8, '1-30'),
 (38, 19, '1-30'),
 (39, 22, '1-30'),
 (40, 23, '1-30'),
 (41, 22, '1-30'),
 (42, 8, '1-30'),
 (43, 3, '1-30'),
 (44, 3, '1-30'),
 (45, 25, '1-30'),
 (46, 21, '1-30'),
 (47, 2, '1-30'),
 (48, 48, '31-60'),
 (49, 12, '1-30'),
 (50, 6, '1-30'),
 (51, 11, '1-30'),
 (52, 15, '1-30'),
 (53, 16, '1-30'),
 (54, 10, '1-30'),
 (55, 23, '1-30'),
 (56, 23, '1-30'),
 (57, 20, '1-30'),
 (58, 35, '31-60'),
 (59, 60, '31-60'),
 (60, 12, '1-30'),
 (61, 14, '1-30'),
 (62, 5, '1-30'),
 (63, 1, '1-30'),
 (64, 1, '1-30'),
 (65, 20, '1-30'),
 (66, 16, '1-30'),
 (67, 9, '1-30'),
 (68, 21, '1-30'),
 (69, 12, '1-30'),
 (70, 20, '1-30'),
 (71, 12, '1-30'),
 (72, 10, '1-30'),
 (73, 2, '1-30'),
 (74, 15, '1-30'),
 (75, 41, '31-60'),
 (76, 5, '1-30'),
 (77, 20, '1-30'),
 (78, 11, '1-30'),
 (79, 4, '1-30'),
 (80, 20, '1-30'),
 (81, 20, '1-30'),
 (82, 24, '1-30'),
 (83, 1, '1-30'),
 (84, 7, '1-30'),
 (85, 21, '1-30'),
 (86, 11, '1-30'),
 (87, 11, '1-30'),
 (88, 6, '1-30'),
 (89, 12, '1-30'),
 (90, 24, '1-30'),
 (91, 6, '1-30'),
 (92, 22, '1-30'),
 (93, 17, '1-30'),
 (94, 12, '1-30'),
 (95, 10, '1-30'),
 (96, 10, '1-30'),
 (97, 50, '31-60'),
 (98, 15, '1-30'),
 (99, 20, '1-30'),
 (100, 12, '1-30'),
 (101, 35, '31-60'),
 (102, 20, '1-30'),
 (103, 22, '1-30'),
 (104, 12, '1-30'),
 (105, 22, '1-30'),
 (106, 16, '1-30'),
 (107, 6, '1-30'),
 (108, 7, '1-30'),
 (109, 14, '1-30'),
 (110, 16, '1-30'),
 (111, 22, '1-30'),
 (112, 21, '1-30'),
 (113, 1, '1-30'),
 (114, 5, '1-30'),
 (115, 24, '1-30'),
 (116, 8, '1-30'),
 (117, 17, '1-30'),
 (118, 3, '1-30'),
 (119, 14, '1-30'),
 (120, 16, '1-30'),
 (121, 16, '1-30'),
 (122, 13, '1-30'),
 (123, 11, '1-30'),
 (124, 10, '1-30'),
 (125, 3, '1-30'),
 (126, 15, '1-30'),
 (127, 5, '1-30'),
 (128, 10, '1-30'),
 (129, 5, '1-30'),
 (130, 17, '1-30'),
 (131, 20, '1-30'),
 (132, 2, '1-30'),
 (133, 12, '1-30'),
 (134, 7, '1-30'),
 (135, 9, '1-30'),
 (136, 22, '1-30'),
 (137, 20, '1-30'),
 (138, 20, '1-30'),
 (139, 45, '31-60'),
 (140, 25, '1-30'),
 (141, 20, '1-30'),
 (142, 7, '1-30'),
 (143, 7, '1-30'),
 (144, 12, '1-30'),
 (145, 43, '31-60'),
 (146, 23, '1-30'),
 (147, 42, '31-60'),
 (148, 42, '31-60'),
 (149, 25, '1-30'),
 (150, 18, '1-30'),
 (151, 11, '1-30'),
 (152, 42, '31-60'),
 (153, 45, '31-60'),
 (154, 49, '31-60'),
 (155, 8, '1-30'),
 (156, 7, '1-30'),
 (157, 50, '31-60'),
 (158, 3, '1-30'),
 (159, 12, '1-30'),
 (160, 20, '1-30'),
 (161, 45, '31-60'),
 (162, 50, '31-60'),
 (163, 10, '1-30'),
 (164, 31, '31-60'),
 (165, 46, '31-60'),
 (166, 35, '31-60'),
 (167, 30, '1-30'),
 (168, 5, '1-30'),
 (169, 10, '1-30'),
 (170, 6, '1-30'),
 (171, 10, '1-30'),
 (172, 23, '1-30'),
 (173, 25, '1-30'),
 (174, 30, '1-30'),
 (175, 41, '31-60'),
 (176, 35, '31-60'),
 (177, 50, '31-60'),
 (178, 50, '31-60'),
 (179, 38, '31-60'),
 (180, 10, '1-30'),
 (181, 37, '31-60'),
 (182, 21, '1-30'),
 (183, 24, '1-30'),
 (184, 5, '1-30'),
 (185, 11, '1-30'),
 (186, 10, '1-30'),
 (187, 18, '1-30'),
 (188, 15, '1-30'),
 (189, 30, '1-30'),
 (190, 22, '1-30'),
 (191, 42, '31-60'),
 (192, 57, '31-60'),
 (193, 17, '1-30'),
 (194, 6, '1-30'),
 (195, 10, '1-30'),
 (196, 15, '1-30'),
 (197, 15, '1-30'),
 (198, 25, '1-30'),
 (199, 45, '31-60'),
 (200, 10, '1-30'),
 (201, 18, '1-30'),
 (202, 19, '1-30'),
 (203, 3, '1-30'),
 (204, 13, '1-30'),
 (205, 30, '1-30'),
 (206, 20, '1-30'),
 (207, 13, '1-30'),
 (208, 4, '1-30'),
 (209, 28, '1-30'),
 (210, 14, '1-30'),
 (211, 12, '1-30'),
 (212, 15, '1-30'),
 (213, 5, '1-30'),
 (214, 20, '1-30'),
 (215, 19, '1-30'),
 (216, 6, '1-30'),
 (217, 30, '1-30'),
 (218, 10, '1-30'),
 (219, 20, '1-30'),
 (220, 25, '1-30'),
 (221, 20, '1-30'),
 (222, 20, '1-30'),
 (223, 40, '31-60'),
 (224, 45, '31-60'),
 (225, 5, '1-30'),
 (226, 16, '1-30'),
 (227, 5, '1-30'),
 (228, 20, '1-30'),
 (229, 4, '1-30'),
 (230, 17, '1-30'),
 (231, 13, '1-30'),
 (232, 25, '1-30'),
 (233, 15, '1-30'),
 (234, 5, '1-30'),
 (235, 1, '1-30'),
 (236, 9, '1-30'),
 (237, 3, '1-30'),
 (238, 50, '31-60'),
 (239, 20, '1-30'),
 (240, 30, '1-30'),
 (241, 6, '1-30'),
 (242, 20, '1-30'),
 (243, 35, '31-60'),
 (244, 12, '1-30'),
 (245, 12, '1-30'),
 (246, 5, '1-30'),
 (247, 25, '1-30'),
 (248, 15, '1-30'),
 (249, 27, '1-30'),
 (250, 5, '1-30'),
 (251, 16, '1-30'),
 (252, 20, '1-30'),
 (253, 10, '1-30'),
 (254, 7, '1-30'),
 (255, 40, '31-60'),
 (256, 12, '1-30'),
 (257, 6, '1-30'),
 (258, 40, '31-60'),
 (259, 20, '1-30'),
 (260, 30, '1-30'),
 (261, 15, '1-30'),
 (262, 16, '1-30'),
 (263, 23, '1-30'),
 (264, 11, '1-30'),
 (265, 5, '1-30'),
 (266, 2, '1-30'),
 (267, 17, '1-30'),
 (268, 3, '1-30'),
 (269, 13, '1-30'),
 (270, 10, '1-30'),
 (271, 10, '1-30'),
 (272, 8, '1-30'),
 (273, 5, '1-30'),
 (274, 25, '1-30'),
 (275, 10, '1-30'),
 (276, 20, '1-30'),
 (277, 15, '1-30'),
 (278, 5, '1-30'),
 (279, 50, '31-60'),
 (280, 1, '1-30'),
 (281, 2, '1-30'),
 (282, 17, '1-30'),
 (283, 36, '31-60'),
 (284, 6, '1-30'),
 (285, 23, '1-30'),
 (286, 23, '1-30'),
 (287, 2, '1-30'),
 (288, 6, '1-30'),
 (289, 21, '1-30'),
 (290, 2, '1-30'),
 (291, 25, '1-30'),
 (292, 1, '1-30'),
 (293, 6, '1-30'),
 (294, 16, '1-30'),
 (295, 12, '1-30'),
 (296, 19, '1-30'),
 (297, 2, '1-30'),
 (298, 1, '1-30'),
 (299, 4, '1-30'),
 (300, 1, '1-30'),
 (301, 11, '1-30'),
 (302, 3, '1-30'),
 (303, 10, '1-30'),
 (304, 30, '1-30'),
 (305, 23, '1-30'),
 (306, 15, '1-30'),
 (307, 19, '1-30'),
 (308, 20, '1-30'),
 (309, 3, '1-30'),
 (310, 45, '31-60'),
 (311, 12, '1-30'),
 (312, 10, '1-30'),
 (313, 7, '1-30'),
 (314, 5, '1-30'),
 (315, 3, '1-30'),
 (316, 10, '1-30'),
 (317, 35, '31-60'),
 (318, 7, '1-30'),
 (319, 5, '1-30'),
 (320, 1, '1-30'),
 (321, 55, '31-60'),
 (322, 1, '1-30'),
 (323, 17, '1-30'),
 (324, 9, '1-30'),
 (325, 24, '1-30'),
 (326, 13, '1-30'),
 (327, 7, '1-30'),
 (328, 2, '1-30'),
 (329, 7, '1-30'),
 (330, 5, '1-30'),
 (331, 16, '1-30'),
 (332, 15, '1-30'),
 (333, 17, '1-30'),
 (334, 60, '31-60'),
 (335, 8, '1-30'),
 (336, 15, '1-30'),
 (337, 5, '1-30'),
 (338, 30, '1-30'),
 (339, 1, '1-30'),
 (340, 18, '1-30'),
 (341, 40, '31-60'),
 (342, 10, '1-30'),
 (343, 18, '1-30'),
 (344, 19, '1-30'),
 (345, 35, '31-60'),
 (346, 30, '1-30'),
 (347, 35, '31-60'),
 (348, 20, '1-30'),
 (349, 35, '31-60'),
 (350, 10, '1-30')]

## Práctica
* En la tabla `Farms`, usando la columna `B_no_membrs`, crea una nueva variable llamada `tamaño_hogar` que tenga los siguientes casos:
    * Entre 1 y 4 -> pequeño
    * Entre 5 y 10 -> mediano
    * Mayor a 10 -> grande

## DISTINCT

* Podemos seleccionar los valores únicos de una o varias columnas con la expresión DISTINCT.

In [26]:
%%sql
SELECT DISTINCT A06_province
FROM Farms;

 * sqlite:///SQL_SAFI.sqlite
Done.

[('Manica',), ('Nampula',), ('Sofala',)]

In [27]:
 %%sql
SELECT DISTINCT A06_province, A07_district
FROM Farms

 * sqlite:///SQL_SAFI.sqlite
Done.

[('Manica', 'Manica'),
 ('Manica', 'Bandula'),
 ('Nampula', 'Nampula'),
 ('Sofala', 'Nhamatanda'),
 ('Sofala', '51'),
 ('Sofala', 'Nhamantanda'),
 ('Sofala', 'Madangua'),
 ('Sofala', 'Nhamatandda'),
 ('Manica', 'Vanduzi'),
 ('Manica', 'Va')]

# Agregaciones y agrupaciones

* Una de las características más útiles de SQL es la capacidad para calcular algunas estadísticas agregadas.
* Para agregar se usan algunas funciones como COUNT(), MAX(), MIN(), AVG()

In [28]:
%%sql
SELECT COUNT(A11_years_farm) AS n, MAX(A11_years_farm) AS maximo, MIN(A11_years_farm) AS minimo, ROUND(AVG(A11_years_farm), 2) as promedio
FROM Farms

 * sqlite:///SQL_SAFI.sqlite
Done.

[(350, 60, 1, 17.51)]

* Podemos calcular estadísticas agrupadas usando la expresión GROUP BY

In [29]:
%%sql
SELECT
    A06_province, A07_district, A08_ward, A09_village,
    COUNT(A11_years_farm) AS n, MAX(A11_years_farm) AS maximo, MIN(A11_years_farm) AS minimo, ROUND(AVG(A11_years_farm), 2) as promedio
FROM Farms
GROUP BY A06_province, A07_district, A08_ward, A09_village

 * sqlite:///SQL_SAFI.sqlite
Done.

[('Manica', 'Bandula', 'Bandula', 'Chirodzo', 1, 12, 12, 12.0),
 ('Manica', 'Manica', 'Bandula', '49', 1, 12, 12, 12.0),
 ('Manica', 'Manica', 'Bandula', 'Chirodzo', 36, 60, 1, 17.61),
 ('Manica', 'Manica', 'Bandula', 'God', 42, 40, 1, 14.67),
 ('Manica', 'Manica', 'Bandula', 'Ruaca', 45, 53, 2, 15.73),
 ('Manica', 'Manica', 'Bandula', 'Ruaca - Nhamuenda', 1, 16, 16, 16.0),
 ('Manica', 'Manica', 'Bandula', 'Ruaca-Nhamuenda', 3, 21, 1, 12.0),
 ('Manica', 'Manica', 'Manica', 'Chirodzo', 1, 16, 16, 16.0),
 ('Manica', 'Manica', 'Manica', 'God', 1, 24, 24, 24.0),
 ('Manica', 'Va', 'Vanduzi', 'Belas', 1, 16, 16, 16.0),
 ('Manica', 'Vanduzi', 'Vanduzi', 'Belas', 8, 24, 2, 10.5),
 ('Nampula', 'Nampula', 'Namikopo', 'Namikopo', 2, 12, 2, 7.0),
 ('Sofala', '51', 'Lamego', 'Massequece', 1, 5, 5, 5.0),
 ('Sofala', 'Madangua', 'Lamego', 'Madangua', 1, 11, 11, 11.0),
 ('Sofala', 'Nhamantanda', 'Lamego', 'Massequece', 1, 5, 5, 5.0),
 ('Sofala', 'Nhamatanda', '91', 'Massequece', 1, 45, 45, 45.0),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Lamego', 1, 19, 19, 19.0),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Lamego - Madangua', 1, 10, 10, 10.0),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Madangua', 76, 60, 1, 13.75),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Massequece', 60, 57, 1, 18.93),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Massequese', 1, 42, 42, 42.0),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Ndedja', 6, 35, 10, 27.5),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Nguinea', 3, 19, 18, 18.33),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Nhamatanda', 1, 4, 4, 4.0),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Nhansato', 48, 50, 3, 25.94),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Nhansato -Castanheira', 1, 10, 10, 10.0),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Nhansato-Castanheira', 3, 37, 21, 27.33),
 ('Sofala', 'Nhamatanda', 'Lomego', 'Massequece', 1, 40, 40, 40.0),
 ('Sofala', 'Nhamatanda', 'Tica', 'Nhansato', 1, 10, 10, 10.0),
 ('Sofala', 'Nhamatandda', 'Lamego', 'Madangua', 1, 10, 10, 10.0)]

* Para filtrar los resultados de una consulta agregada usamos la declaración HAVING

In [30]:
%%sql
SELECT
    A06_province, A07_district, A08_ward, A09_village,
    COUNT(A11_years_farm) AS n, MAX(A11_years_farm) AS maximo,
    MIN(A11_years_farm) AS minimo, ROUND(AVG(A11_years_farm), 2) as promedio,
    SUM(A11_years_farm) as total
FROM Farms
GROUP BY A06_province, A07_district, A08_ward, A09_village
HAVING promedio > 20

 * sqlite:///SQL_SAFI.sqlite
Done.

[('Manica', 'Manica', 'Manica', 'God', 1, 24, 24, 24.0, 24),
 ('Sofala', 'Nhamatanda', '91', 'Massequece', 1, 45, 45, 45.0, 45),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Massequese', 1, 42, 42, 42.0, 42),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Ndedja', 6, 35, 10, 27.5, 165),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Nhansato', 48, 50, 3, 25.94, 1245),
 ('Sofala', 'Nhamatanda', 'Lamego', 'Nhansato-Castanheira', 3, 37, 21, 27.33, 82),
 ('Sofala', 'Nhamatanda', 'Lomego', 'Massequece', 1, 40, 40, 40.0, 40)]

## Práctica
* Usando la tabla `Plots`, calcula la extensión total y número de parcelas de cada granja. `Id` identifica cada granja y `D02_total_plot` es la extensión de cada parcela individual.
* Filtra para quedarte solo con aquellas granjas que tienen más de 10 hectáreas en total y además entre 2 y 3 parcelas.

# Uniones

* Hasta el momento hemos estado usando datos de una sola tabla,  pera para muchos casos quisieramos responder preguntas que involucren los datos de más de una tabla.
* Cuando queremos usar los datos de más de una tabla debemos hacer uniones con el comando JOIN. Esta unión se hace en la declaración FROM.
* En la siguiente consulta queremos saber en cuáles granjas con más de 12 miembros se cultiva maíz. La información del número de miembro de la granja está en la tabla Farms, pero la información del tipo de cultivo está en la tabla Crops. Por tanto, debemos hacer un JOIN entre las dos tablas.
* Cuando tenemos más de una tabla es usual renombrar las tablas con la declaración AS, para distinguir las variables que provienen de cada tabla y evitar problemas cuando haya variables con el mismo nombre.
* Con la expresión ON especificamos la variable de cada tabla con la que se hará el emparejamiento.

In [31]:
%%sql
SELECT 
    F.Id AS farm_id, F.B_no_membrs as farm_members,
    C.Id, C.D_curr_crop
FROM Farms AS F JOIN Crops AS C ON F.Id = C.Id
WHERE F.B_no_membrs > 12 AND C.D_curr_crop = 'maize'

 * sqlite:///SQL_SAFI.sqlite
Done.

[(32, 19, 32, 'maize'),
 (92, 17, 92, 'maize'),
 (101, 14, 101, 'maize'),
 (103, 15, 103, 'maize'),
 (111, 15, 111, 'maize'),
 (111, 15, 111, 'maize'),
 (124, 15, 124, 'maize'),
 (253, 15, 253, 'maize')]

* Se pueden hacer joins con más de 2 tablas. En esta por ejemplo, estamos consultando cuáles son las parcelas que pertenecen a las granjas con más de 12 miembros, cultivan maíz y tienen una extensión mayor a 5 hectáreas.

In [32]:
%%sql
SELECT 
    F.Id AS farm_id, F.B_no_membrs AS farm_members,
    C.Id AS Crops_Id, C.plot_Id AS crops_plot_id, C.D_curr_crop,
    P.Id , P.plot_id AS plot_id, P.D02_total_plot
FROM Farms AS F
        JOIN Crops AS C
        JOIN Plots AS P
    ON F.Id = C.Id AND F.Id = P.Id AND C.Id = P.Id
WHERE F.B_no_membrs > 12 AND C.D_curr_crop = 'maize'  AND P.D02_total_plot > 5

 * sqlite:///SQL_SAFI.sqlite
Done.

[(32, 19, 32, 1, 'maize', 32, 1, 10.0),
 (92, 17, 92, 1, 'maize', 92, 1, 6.0),
 (92, 17, 92, 1, 'maize', 92, 2, 6.0),
 (92, 17, 92, 1, 'maize', 92, 3, 6.0),
 (103, 15, 103, 3, 'maize', 103, 1, 22.0),
 (103, 15, 103, 3, 'maize', 103, 2, 16.0),
 (124, 15, 124, 1, 'maize', 124, 1, 7.0)]

## Práctica
* Calcula el área total de maíz sembrado actualmente en cada villa. 
* Tenga en cuenta que la extensión de cada cultivo (`D02_total_plot`) está en la tabla `Plots`, el cultivo actual (`D_curr_crop`) está en la tabla `Crops` y la información de la villa (`A09_village`) en la tabla `Farms`

# Referencias

* [Data Management with SQL for Social Scientists](https://datacarpentry.org/sql-socialsci/)
* [Big Data & Social Science. Chpater 4: Databases](https://textbook.coleridgeinitiative.org/chap-db.html)
* [Curso gratuito en Udacity: SQL for Data Analysis](https://classroom.udacity.com/courses/ud198)

# Revisa otras entradas de este blog:
* [Integración de PyQGIS con Jupyter Lab usando Anaconda](/pyqgis-anaconda)
* [Introducción a PyQGIS (Python + QGIS)](/intro-pyqgis/)
* [Mapas de puntos con Python](/mapas-distribucion-puntos/)
* [Recuadros para mapas en Geopandas](/zoom-mapas-geopandas/)
* [Etiquetado de variables y valores en las encuestas de INEGI usando Python](/etiquetas-encuestas-inegi/)
* [Generando archivos de Excel con formatos y gráficas usando Python](/excel-formato-graficas/)
* [Trabajando con archivos de Excel complejos en Pandas](/pandas-excel/)